<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luna</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css">
</head>
<body>
    <div class="wrapper">
        <section class="firstscreen">
            <div class="firstscreen-body">
                <header class="header">
                    <div class="logo"><a href="/"><img src="img/first_screen/Logo.png" alt="Luna"></a></div>
                    <nav class="menu">
                        <ul class="menu-list">
                            <li class="menu-items"><a href="#" class="menu-link">Home <i class="icofont-simple-down"></i></a></li>
                            <li class="menu-items"><a href="#" class="menu-link">Blog <i class="icofont-simple-down"></i></a></li>
                            <li class="menu-items"><a href="#" class="menu-link">Pages <i class="icofont-simple-down"></i></a></li>
                            <li class="menu-items"><a href="#" class="menu-link">Portfolio <i class="icofont-simple-down"></i></a></li>
                            <li class="menu-items"><a href="#" class="menu-link">Elements <i class="icofont-simple-down"></i></a>
                                <ul class="submenu-list">
                                    <li class="submenu-items"><a href="#" class="submenu-link">Submenu 1</a></li>
                                    <li class="submenu-items"><a href="#" class="submenu-link">Submenu 2</a></li>
                                    <li class="submenu-items"><a href="#" class="submenu-link">Submenu 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <button class="button-search"><i class="icofont-search-1"></i> Search</button>
                </header>
                <div class="firstscreen-content">
                    <h1 class="primary-title">We make <span>web</span> better.</h1>
                    <p class="firstscreen-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid debitis maiores dolor aspernatur cupiditate officia quasi numquam! Molestiae, voluptate! Magnam, illum accusamus qui consequatur quisquam rerum impedit optio nisi, adipisci soluta id.</p>
                    <div class="firstscreen-buttons-wrapper">
                        <a href="#" class="firstscreen-buttons firstscreen-button_blue">View More</a>
                        <a href="#" class="firstscreen-buttons firstscreen-button_transparent">Contact us</a>
                    </div>
                </div>
                <div class="scroll-down">
                    <img src="img/first_screen/Kształt 1 kopia 2.png" alt="">
                    <img src="img/first_screen/Kształt 1 kopia.png" alt="">
                    <img src="img/first_screen/Kształt 1.png" alt="">
                </div>
            </div>
        </section>
        <section class="about-us">
            <div class="about-us-content">
                <h3 class="about-us-title">About Us</h3>
                <div class="about-us-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae labore eligendi quidem dolores nobis, exercitationem eum quasi ullam rem voluptatibus facere minus nihil incidunt deleniti est illum quo impedit vel natus nisi? Architecto, molestiae! Sequi sunt, nihil quibusdam blanditiis ullam libero odio ab dolores laborum ad officiis, ipsa ut maiores odit. Nam, voluptatum ipsam aut est aspernatur id ut. </p>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero necessitatibus laborum et, assumenda nisi vel vero eius dignissimos magni, incidunt, neque sapiente excepturi doloribus dolor.</p>
                </div>
            </div>
            <div class="about-us-gallery">
                <img src="img/about_us/Warstwa 5.png" alt="">
                <img src="img/about_us/Warstwa 3.png" alt="">
                <img src="img/about_us/Warstwa 4.png" alt="">
                <img src="img/about_us/Warstwa 6.png" alt="">
            </div>
        </section>
        <section class="what-we-do">
            <h3 class="what-we-do-title">What we do</h3>
            <div class="what-we-do-cards">
                <div class="cards card1">
                    <img src="img/what_we_do/Inteligentny obiekt wektorowy3.png" class="cards-imgs img1">
                    <h4 class="cards-title">beautiful DESIGN</h4>
                    <p class="cards-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil molestias nulla ad alias.</p>
                </div>
                <div class="cards card2"> 
                    <img src="img/what_we_do/Inteligentny obiekt wektorowy2.png" class="cards-imgs img2">
                    <h4 class="cards-title">BEST DEVELOPMENT</h4>
                    <p class="cards-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil molestias nulla ad alias.</p>
                </div>
                <div class="cards card3">
                    <img src="img/what_we_do/Inteligentny obiekt wektorowy4.png" class="cards-imgs img3">
                    <h4 class="cards-title">WEB PROMOTE</h4>
                    <p class="cards-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil molestias nulla ad alias.</p>
                </div>
            </div>
            <a href="#" class="what-we-do-link">Show More</a>
        </section>
        <section class="portfolio">
            <div class="portfolio-body">
                <div class="portfolio-content">
                    <div class="case-study">
                        <h2 class="case-study-title"><span>Payme</span> Mobile App </h2>
                        <p class="case-study-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus similique optio autem iusto fugit, exercitationem assumenda quos voluptates nihil asperiores!</p>
                        <a href="#" class="case-study-button">SEE CASE STUDY</a>
                    </div>
                    
                    <div class="portfolio-screens">
                        <img src="img/portfolio/Prostokąt zaokrąglony 3 kopia.png" alt="" class="top-screen">
                        <img src="img/portfolio/Prostokąt zaokrąglony 3.png" alt="" class="">
                    </div>
                </div>
                <div class="portfolio-buttons">
                    <a href="#" class="portfolio-button"><span class="categorys">Mobile Apps &#9679; UX / UI</span>Payme Mobile App</a>
                    <a href="#" class="portfolio-button"><span class="categorys">Mobile Apps &#9679; UX / UI</span>Payme Mobile App</a>
                    <a href="#" class="portfolio-button"><span class="categorys">Mobile Apps &#9679; UX / UI</span>Payme Mobile App</a>
                    <a href="#" class="portfolio-button"><span class="categorys">Mobile Apps &#9679; UX / UI</span>Payme Mobile App</a>
                </div>
            </div>
        </section>
        <section class="twitter">
            <div class="twitter-logo">
                <img src="img/twitter/twitter-logo-silhouette.png" alt="" class="twitter-logo-img">
            </div>
            <div class="twitter-references">
                <div class="reference">
                    <p class="reference-text"><span>#PaymeApp</span> win Apple Design Award! Big thanks to <span class="reference-span">@DigitalStudio!</span> They are aggressive in trying out new technologies and new design 
                        techniques. The best guys I've worked with. </p>
                    <div class="profile">
                        <img src="img/twitter/Warstwa 2.png" alt="" class="profile-logo">
                        <div class="profile-text">
                            <h6 class="profile-name">Frank Underwood</h6>
                            <a href="#" class="profile-link"><span>@PresidentFrank</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-body">
                <div class="footer-content">
                    <div class="footer-text-wrap">
                        <img src="img/footer/Logo.png" alt="" class="footer-logo">
                        <p class="footer-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis eos consequuntur voluptatibus! Repudiandae sequi aliquam tempora accusantium veritatis ratione nesciunt!</p>
                    </div>
                    <a href="#" class="footer-button">contact us</a>
                </div>
                <div class="footer-copyrights">
                    <p>Copyright © 2015. <a href="#"><span>LUNA STUDIO</span></a>. All rights reserved.</p>
                    <p>DESIGNED with       BY <a href="#"><span>SYMU.CO</span></a></p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>