<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fashion</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Open+Sans:ital@0;1&family=Raleway:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="body">
				<div class="logo"><img src="img/Logo.png" alt="Feshion"></div>
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">SHOP</a></li>
					<li><a href="#">WOMEN</a></li>
					<li><a href="#">MEN</a></li>
					<li><a href="#">FIND STORES</a></li>
				</ul>
				<div class="icons">
					<a href="#"><img src="img/cart.png" alt="cart"></a>
					<a href="#"><img src="img/search .png" alt="search"></a>
					<a href="#"><img src="img/icon.png" alt="burger"></a>
				</div>
			</div>
		</div>
	</header>

	<section class="slider">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-12 col-lg-6">
					<div class="img-wrapper">
						<img src="img/slider-img.png" alt="Summer Collection">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="content">
						<h1>Summer Collection</h1>
						<div class="subtitle">
							<span>01</span> MEN´S WEAR
						</div>
						<div class="icons">
							<div class="img-wrapper">
								<a href="#">
									<img src="img/see-more.png" alt="see more">
								</a>
								<a href="#">
									<img src="img/like.png" alt="like">
								</a>
								<a href="#">
									<img src="img/share.png" alt="share">
								</a>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh, vel aliquet massa. Etiam in magna id risus lacinia luctus eget eu est.</p>
						<a href="#" class="button">Shop now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="banners">
        <div class="container">
			<ul class="justify-content-center">
                <li><a href="#">All</a></li>
                <li><a href="#">spring-summer</a></li>
                <li><a href="#">sweatshirt</a></li>
                <li><a href="#">sneakers</a></li>
                <li><a href="#">gadgets</a></li>
                <li><a href="#">outdoor</a></li>
            </ul>
            <div class="row">
				
                <div class="col-12 col-lg-3">
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/1.png" alt="">
                        <div class="banner-inner align-items-end justify-content-center text-center">
                            <div class="content">
                                <h4>BUY 2 GET UP 50% OFF.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/2.png" alt="">
                        <div class="banner-inner ">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/3.png" alt="">
                        <div class="banner-inner banner-large align-items-center ">
                            <div class="content max-width50">
                                <p class="subtitle">Winter Jacket</p>
                                <h4>VINTAGE LOOK FOR WOMEN</h4>
                                <a href="#" class="button">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/4.png" alt="">
                        <div class="banner-inner align-items-center ">
                            <div class="content max-width50">
                                <p class="subtitle">Winter Jacket</p>
                                <h4>FASHION FOR MEN</h4>
                                <a href="#" class="button">Shop now</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/5.png" alt="">
                        <div class="banner-inner align-items-end justify-content-center text-center">
                            <div class="content">
                                <h4 class="litle-text">40% off on sunglasses</h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="banner">
                        <a href="#"></a>
                        <img src="img/banner.png" alt="">
                        <div class="banner-inner banner-xl align-items-center justify-content-end text-center">
                            <div class="content">
                                <h4>WE OFFER BRAND NEW STYLES</h4>
                                <p class="subtitle">SIGN UP NOW AND GET 50% OFF</p>
                                <a href="#" class="button2">SEE FULL COLLECTION</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<section class="category">
		<div class="container">
			<h3 class="text-center">Product Types</h3>
			<p class="subtitle text-center">
				up to 30% discount
			</p>
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="banner">
						<a href="#"></a>
						<img src="img/types1.png" alt="">
						<div class="banner-inner align-items-end justify-content-center text-center">
							<div class="content">
								<a href="#" class="button button-large">Shop man</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="banner">
						<a href="#"></a>
						<img src="img/types2.png" alt="">
						<div class="banner-inner align-items-end justify-content-center text-center">
							<div class="content">
								<a href="#" class="button button-large">Shop woman</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="banner">
						<a href="#"></a>
						<img src="img/types3.png" alt="">
						<div class="banner-inner align-items-end justify-content-center text-center">
							<div class="content">
								<a href="#" class="button button-large">Shop kids</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">featured products</h3>
				</div>
				<div class="col-12">
					<ul class="justify-content-center">
						<li><a href="#">All</a></li>
						<li><a href="#">spring-summer</a></li>
						<li><a href="#">sweatshirt</a></li>
						<li><a href="#">sneakers</a></li>
						<li><a href="#">gadgets</a></li>
						<li><a href="#">outdoor</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					
					<div class="banner-wrapper">
						<div class="banner">
							<a href="#"></a>
							<img src="img/featured1.png" alt="">
						</div>
						<div class="content">
							<h5><a href="#">Ted Baker Womens Light</a></h5>
							<a href="#" class="categories-link">Gucci</a>
							<div class="price">
								<span>$70.00</span>$120.00
							</div>
						</div>
					</div>

				</div>
				
				<div class="col-12 col-md-6 col-lg-3">
					
					<div class="banner-wrapper">
						<div class="banner">
							<a href="#"></a>
							<img src="img/featured2.png" alt="">
						</div>
						<div class="content">
							<h5><a href="#">Ted Baker Womens Light</a></h5>
							<a href="#" class="categories-link">Gucci</a>
							<div class="price">
								<span>$70.00</span>$120.00
							</div>
						</div>
					</div>

				</div>
				
				<div class="col-12 col-md-6 col-lg-3">
					
					<div class="banner-wrapper">
						<div class="banner">
							<a href="#"></a>
							<img src="img/featured3.png" alt="">
						</div>
						<div class="content">
							<h5><a href="#">Ted Baker Womens Light</a></h5>
							<a href="#" class="categories-link">Gucci</a>
							<div class="price">
								<span>$70.00</span>$120.00
							</div>
						</div>
					</div>

				</div>
				
				<div class="col-12 col-md-6 col-lg-3">
					
					<div class="banner-wrapper">
						<div class="banner">
							<a href="#"></a>
							<img src="img/featured4.png" alt="">
						</div>
						<div class="content">
							<h5><a href="#">Ted Baker Womens Light</a></h5>
							<a href="#" class="categories-link">Gucci</a>
							<div class="price">
								<span>$70.00</span>$120.00
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="text-center">
					<a href="#" class="button-large button-bordered">Show more</a>
			</div>

		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="banner">
                        <a href="#"></a>
                        <img src="img/banner2.png" alt="">
                        <div class="banner-inner banner-xl align-items-center justify-content-start text-center">
                            <div class="content">
                                <h4>WE OFFER BRAND NEW STYLES</h4>
                                <p class="subtitle">SIGN UP NOW AND GET 50% OFF</p>
                                <a href="#" class="button2">SEE FULL COLLECTION</a>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>

	<section class="blogs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="text-center">our blogs & news </h3>

				</div>
				<div class="col-12 col-lg-6">
					<div class="banner">
                        <a href="#"></a>
                        <img src="img/blog1.png" alt="">
                        <div class="banner-inner align-items-end justify-content-center ">
                            <div class="content text-center">
                                <h4>FASHION FOR MEN</h4>
                                <p class="subtitle">Winter Jacket</p>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="banner">
                        <a href="#"></a>
                        <img src="img/blog2.png" alt="">
                        <div class="banner-inner align-items-end justify-content-center ">
                            <div class="content text-center">
                                <h4>FASHION FOR MEN</h4>
                                <p class="subtitle">Winter Jacket</p>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-2">
					<h5>Information</h5>
					<ul>
						<li><a href="#">The brand</a></li>
						<li><a href="#">Local stores</a></li>
						<li><a href="#">Customer service</a></li>
						<li><a href="#">Privacy & cookies</a></li>
						<li><a href="#">Site map</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<h5>My profile</h5>
					<ul>
						<li><a href="#">The brand</a></li>
						<li><a href="#">Local stores</a></li>
						<li><a href="#">Customer service</a></li>
						<li><a href="#">Privacy & cookies</a></li>
						<li><a href="#">Site map</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<h5>Your account</h5>
					<ul>
						<li><a href="#">The brand</a></li>
						<li><a href="#">Local stores</a></li>
						<li><a href="#">Customer service</a></li>
						<li><a href="#">Privacy & cookies</a></li>
						<li><a href="#">Site map</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-2">
					<h5>Lookbook</h5>
					<ul>
						<li><a href="#">The brand</a></li>
						<li><a href="#">Local stores</a></li>
						<li><a href="#">Customer service</a></li>
						<li><a href="#">Privacy & cookies</a></li>
						<li><a href="#">Site map</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-6 col-lg-3 offset-lg-1">
					<h5>contact details</h5>
					<div class="contacts">
						<span>Telephone: </span> 0123-456-789 
					</div>
					<div class="contacts">
						<span>Email: </span> free@psdfreebies.com
					</div>
					
					<div class="contacts">
						<span>Head Office: </span>  245 Yellow House,
						Main Street, London. 456789
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="copyright text-center">
					<p>© Copyright e-commerce  1.0. 2022 Designed by Psdfreebies.com</p>					
					<div class="logo"><img src="img/Logo.png" alt="Fashion"></div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>