<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Merak Fashion</title>
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600&family=Rubik&family=Spartan:wght@500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">	<!-- style -->
</head>
<body>
	<header class="header-general">
		<div class="header-row header-top">
		  <div class="container">
			<div class="header-row-inner color-scheme-light">
			  <div class="header-col header-col-left">
				  <div class="contact">
						Call Now: (+035) 527-1710-70
				  </div>
				  <div class="contact">
						Email: Contact@merak.com
				  </div>
			  </div>
			  <div class="header-col header-col-right">
				<div class="content">
					<div class="text">
						Ample end might folly quiet one set spoke.
					</div>
					<div class="usd">usd
						<i class="fas fa-angle-down"></i>
					</div>
					<div class="usa">
						<img src="img/united-states.svg" alt="USA">
						usa
						<i class="fas fa-angle-down"></i>
					</div>
				   </div>
				</div>
			</div>
		  </div>
		</div>
		<div class="header-row header-main">
		  <div class="container">
			<div class="header-row-inner">
			  <div class="header-col header-col-left">
				<div class="logo">
					<img src="img/merak-logo.svg" alt="Merak Fashion">
				</div>
				</div>
			  <div class="header-col header-col-center search">
				<form action="#">
					<button>
						<i class="fas fa-search"></i>
					</button>
					<input type="text" placeholder="Search for products">
					<select name="category">
						<option value="">Select Category</option>
						<option value="">Select Category</option>
					</select>
				</form>
			  </div>
			  <div class="header-col header-col-right">
					<div class="header-actions">
						<div class="account">
							<img src="img/user.svg" alt="user">
							<a href="#">Login</a> / <a href="#">Register</a>
						</div>
						<div class="wish">
							<img src="img/heart.svg" alt="heart">
							<a href="#">Wishlist</a>
						</div>
						<div class="bag">
							<img src="img/shopping-bag.svg" alt="bag">
							2 <span>/ $280.00</span>
						</div>
					</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="header-row header-bottom">
		  <div class="container">
			<div class="header-row-inner">
				<div class="header-col header-col-left vertical-menu-wrapper">
					<ul class="header-menu vertical-menu">
						<li>
							<i class="fas fa-bars"></i>
							<a href="#">Browse Categories</a>
							<i class="fas fa-angle-down"></i>
							<ul class="sub-menu">
								<li><a href="#">Sweatshirts</a></li>
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Jackets</a></li>
								<li><a href="#">Pants</a></li>
								<li><a href="#">Cardigan</a></li>
								<li><a href="#">Boots</a></li>
								<li><a href="#">Loafers</a></li>
								<li><a href="#">Handbags</a></li>
								<li><a href="#">Hats</a></li>
								<li><a href="#">Accessories</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="header-col header-col-center main-nav-wrapper">
					<ul class="header-menu main-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Shop</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
				<div class="header-col header-col-right">
					<div class="text">Winter <span>discounts</span> up to 40%</div>
				</div>
			</div>
		  </div>
		</div>
	  </header>
</body>
</html>