// font-family: 'Lato', sans-serif;

//==============================================
//                  VARIABLES
//==============================================

// $primColor1: ;

//==============================================
//                  BODY
//==============================================

body {

	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.4;
	color: #fff;
}


//==============================================
//                  HEADERS
//==============================================
	
h1,h2,h3,h4,h5,h6 {

	margin-bottom: 30px;
}

h1 {

	font-size: 60px;
	font-weight: 900;
	text-decoration: uppercase;

	
}

h4 {

	font-size: 18px;
	font-weight: 700;
}

h5 {
   
	font-size: 15px;
	font-weight: 700;
}

h6 {
  
	font-size: 14px;
}


//==============================================
//                  PARAGRAPHS
//==============================================

p{

	&:not(:last-child){

		margin-bottom: 20px;
	}
}


//============================================================
//                          BUTTONS
//============================================================
