// ------------------------------------------------------------------------------------------------
// Base Style
// ------------------------------------------------------------------------------------------------

// font-family: 'Palatino Linotype', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

// ------------------------------------------
// Variables
// ------------------------------------------

$primColor1: #4b2d7f;
$primColor2: #F42267;
$transition: all .4s ease;

// ------------------------------------------
// Body
// ------------------------------------------

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #1d1d1d;
}

// ------------------------------------------
// Headers
// ------------------------------------------
	
h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	color: #484848;
	margin-bottom: 30px;
}

h1 {
	font-size: 64px;
	line-height: 1.2;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 25px;
}

.title {
	
	.above-title {
		font-family: 'Palatino Linotype', sans-serif;
		font-style: italic;
		margin-bottom: 10px;
	}
}

//==============================================
//                  PARAGRAPHS
//==============================================

p {
	margin-bottom: 20px;
}

// ------------------------------------------
// Links
// ------------------------------------------

a {
	color: inherit;
	transition: $transition;
}

// ------------------------------------------
// Buttons
// ------------------------------------------

.button {
    display: inline-block;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

.primary-button {
	padding: 23px 48px;
	border-radius: 23px;
	box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35);
}

.article-button {
	padding: 18px 24px;
	border-radius: 10px;
	&.btn-bgcolor1 {
		box-shadow: 0px 10px 0px 0px #A57EE9;
	}
	
	&.btn-bgcolor2 {
		box-shadow: 0px 10px 0px 0px #FF5990;
	}
}

.btn-bgcolor1 {
	background-color: $primColor1;

	&:hover {
		background-color: #5f34aa;
	}
}

.btn-bgcolor2 {
	background-color: $primColor2;

	&:hover {
		background-color: #ff1161;
	}
}

.button-wrapper {

    .button {

		&:first-child {
			margin-right: 28px;
		}
    }
}

// ------------------------------------------
// Form
// ------------------------------------------

form,
input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

// ------------------------------------------
// Color Scheme
// ------------------------------------------

.color-scheme-light {
  
	h1,h2,h3,h4,h5,h6,i {
	  color: #FFF;
	}
	
	p, ul {
	  color: #fff;
	}
  }