// ------------------------------------------------------------------------------------------------
// Primary Page Styles
// ------------------------------------------------------------------------------------------------

.container {
    max-width: 1200px;
}

// ------------------------------------------
// Header
// ------------------------------------------

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 68px;
        padding-right: 60px;
        height: 156px;
    }
}

.logo {
    flex-shrink: 0;
    margin-right: 20px;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    li {
        
        &:hover {
            
            a {
                color: $primColor2;
            }
        }
        a {
            display: flex;
            padding: 14px;
            font-size: 19px;
            font-weight: 600; 
        }
    }
}

.burger {
    font-size: 35px;
    cursor: pointer;

    i {
        transition: $transition;

        &:hover {
            color: $primColor2;
        }
    }
}

// ------------------------------------------
// First Screen
// ------------------------------------------

.first-screen {
    padding-top: 100px;
    background: url(../img/Header-bg.png) center/cover no-repeat;
    min-height: 945px;
    display: flex;

    .container {
        max-width: 1360px;
    }

    .inner {
        display: flex;
        min-height: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        z-index: 1;
    }

    .above-title {
        font-size: 42px;
    }

    h1 {
        margin-bottom: 36px;
        line-height: 1.1;

    }

    .subtitle {
        margin-bottom: 70px;
        font-size: 24px;
        max-width: 740px;
    }

    .img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        margin-left: -310px;
    }
}

// ------------------------------------------
// About Company
// ------------------------------------------

.about-company {
    padding-top: 50px;

    .about-company-bg {
        background: url("../img/World-map.png") center / cover no-repeat;
    }

    .content {
        padding: 15px 0;
    }

    .above-title {
        font-size: 33px;
    }

    h2 {
        margin-bottom: 5px;
        line-height: 1.2;
    }

    p {
        line-height: 1.8;
        margin-bottom: 50px;
    }

    .img-wrapper {
        margin-left: 160px;
        margin-right: -40px;
    }
}

.categories {
    display: flex;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: hidden;

    li {
        text-transform: uppercase;
        white-space: nowrap;

        &:not(:last-child) {
            margin-right: 5px;
        }


        &.active,
        &:hover {

            a {
                background-color: $primColor2;
                color: #fff;
                box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35);
            }
        }

        a {
            display: block;
            padding: 15px 25px;
            border-radius: 23px;
            font-size: 13px;
            font-weight: 600;
        }
    }
}

// ------------------------------------------
// Info boxes
// ------------------------------------------

.info-boxes {
    background-color: $primColor1;

    .container {
        max-width: 1334px;
    }
    
    .info-box {
        text-align: center;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 109px;
    }

    .img-wrapper {
        margin-bottom: 27px;

        .icon {
            filter: invert(100%) sepia(6%) saturate(495%) hue-rotate(216deg) brightness(119%) contrast(100%);
            height: 75px;
        }
    }

    .data {
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 11px;
        line-height: 1;
    }
        
    h3 {
        line-height: 1;
        margin-bottom: 33px;
        
        span {

            &.no-weight {
                font-weight: 400;
            }
            &.small-size {
                font-size: 25px;
            }
        }
    }
    .dark-bg {
        background-color: rgba(40, 29, 60, 0.40) ;
    }
}

// ------------------------------------------
// Story
// ------------------------------------------
.story {
    background: url("../img/story-bg.png")center /cover no-repeat;
    padding-top: 75px;
    padding-bottom: 77px;

    .content {
        text-align: center;
    }

    .above-title {
        font-size: 48px;
        margin-bottom: 6px;
    }

    h2 {
        margin-bottom: 23px;
    }

    .subtitle {
        font-size: 20px;
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    
    }
}

// ------------------------------------------
// Our Services
// ------------------------------------------

.our-services {
    padding-top: 88px;
    padding-bottom: 89px;

    .above-title {
        font-size: 33px;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 26px;
        line-height: 1.1;
    }

    .subtitle {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .services {
        padding-top: 50px;
        padding-bottom: 50px;
        transition: $transition;

        .img-wrapper {
            margin-bottom: 15px;
        }

        h4 {
            margin-bottom: 15px;
        }

        a {
            
            &:hover {
                color: $primColor2;
            }
        }

        p {
            margin-bottom: 40px;
        }
    }

    .video {
        position: relative;
        cursor: pointer;
        margin-left: 30px;
        
        &:hover {

            .play-btn {
                
                background-color: #ff3a7c;
            }
        }

        img {
            width: 100%;
        }

    }

    .play-btn {
        position: absolute;
        top: calc(50% - (125px / 2));
        left: calc(50% - (125px / 2));
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background-color: $primColor2;
        transition: $transition;
        
        
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-33%, -50%);
            font-size: 60px;
            color: #fff;
        }
    }

}