// ------------------------------------------------------------------------------------------------
// Responsive
// ------------------------------------------------------------------------------------------------

// ------------------------------------------
// Max Width 768px ( ... < 768px)
// ------------------------------------------

@media (max-width: 768px) {

    .button-wrapper {
        margin-left: 0;
    }

    .header {
        
        .content {
            padding-left: 20px;
            padding-right: 20px;
        }
    }


    .first-screen {

        .content {
            padding: 15;
        }
    }

}


// ------------------------------------------
// Max Width 576px ( ... < 576px)
// ------------------------------------------

@media (max-width: 576px) {

    .first-screen {
        text-align: center;
    }

    .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .button {

            &:first-child {
                margin: 0;
                margin-bottom: 28px;
            }
        }
    }

    .our-work {
        
        .row {

            > div {

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .header {
        
        .content {
            padding: 0;
        }
    }

    .first-screen {

        .content {
            padding: 0;
        }
    }
}


// ------------------------------------------
// Max Width 992px ( ... < 992px)
// ------------------------------------------

@media (max-width: 992px) {

    

    .first-screen {

        .above-title {
            font-size: 36px;
        }
    
        h1 {
            font-size: 50px;
        }
    
        .subtitle {
            margin-bottom: 64px;
            font-size: 18px;
        }
    }

    .about-company {
    
        .content {
            margin-bottom: 40px;
        }

        .img-wrapper {
            text-align: center;
        }
    }

    .our-services {

        .video {
            margin-left: 0;
        }
    }

}

@media (max-width: 1200px) {
    
    .header-menu {
        display: none;
    }

    .first-screen {
        
        .img-wrapper {
            display: none;
        }
    }

    .categories {

        li {

            &.active,
            &:hover {

                a {
                    box-shadow: none;
                }
            }
        }
    }

    .about-company {
        
        .img-wrapper {
            margin: 0;
        }
    }
}