<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Poppins:wght@400;700&family=Raleway:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="img/logo.png" alt="TAKEOFF">
                </div>
                <ul class="top-menu">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">App</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="top-buttons">
                    <a href="#" class="button btn-bg-1">Sign In</a>
                    <a href="#" class="button btn-bg-2">Contact</a>
                </div>
                
                <div class="burger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    <section class="first-screen section-margin-left">
        <div class="container">
            <div class="first-screen-body">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <div class="first-screen-text">
                            <h1>Perfect app for flight ticket booking</h1>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.all the Lorem Ipsum to generators looks Ipsum available reasonable.
                            </p>
                            <a href="#" class="button btn-bg-1">
                                <div class="button-img">
                                    <img src="img/apple.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Apple Store
                                </div>
                            </a>
                            <a href="#" class="button btn-bg-2">
                                <div class="button-img">
                                    <img src="img/play.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Play Store
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="first-screen-img">
                            <img src="img/first-screen-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="how-work">
        <div class="how-work-body container">
            <h3>How does it work</h3>
            <p>There are many variations of passages of Lorem Ipsum available</p>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="info-box">
                        <div class="img-wrapper">
                            <img src="img/how-work-ico-1.png" alt="">
                        </div>
                        <h4>Search Destination</h4>
                        <p>There is long established fact that reader will be distracted content</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="info-box">
                        <div class="img-wrapper">
                            <img src="img/how-work-ico-2.png" alt="">
                        </div>
                        <h4>Book Flight</h4>
                        <p>There is long established fact that reader will be distracted content</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="info-box">
                        <div class="img-wrapper">
                            <img src="img/how-work-ico-3.png" alt="">
                        </div>
                        <h4>Enjoy Your Journey</h4>
                        <p>There is long established fact that reader will be distracted content</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="overview">
        <div class="overview-body container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="overview-text">
                        <h3>Takeoff app overview for better understanding</h3>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when at its layout.
                        </p>
                        <a href="#" class="button btn-bg-1">
                            <div class="button-img">
                                <img src="img/apple.png" alt="">
                            </div>
                            <div class="button-inner">
                                <span>Download From</span> Apple Store
                            </div>
                        </a>
                        <a href="#" class="button btn-bg-2">
                            <div class="button-img">
                                <img src="img/play.png" alt="">
                            </div>
                            <div class="button-inner">
                                <span>Download From</span> Play Store
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="overview-img">
                        <a href="#"></a>
                        <img src="img/overlay-img.png" alt="">
                        <div class="overview-img-content">
                            <div class="overview-img-wrapper">
                                <img src="img/overlay-img-ico.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-ability">
        <div class="user-ability-body container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="perfect-app-img">
                        <img src="img/splash-screen1.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-5 offset-lg-2 ">
                    <div class="perfect-app-text">
                        <div class="perfect-app-ico">
                            <img src="img/1.png" alt="">
                        </div>
                        <h3>Perfect app for flight ticket booking</h3>
                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when at its layout.</p>
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, generator here', making it look like readable English.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-5 ">
                    <div class="perfect-app-text">
                        <div class="perfect-app-ico">
                            <img src="img/2.png" alt="">
                        </div>
                        <h3>Perfect app for flight ticket booking</h3>
                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when at its layout.</p>
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, generator here', making it look like readable English.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-5 offset-lg-2">
                    <div class="perfect-app-img">
                        <img src="img/splash-screen2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="perfect-app-img">
                        <img src="img/splash-screen3.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-5 offset-lg-2 ">
                    <div class="perfect-app-text">
                        <div class="perfect-app-ico">
                            <img src="img/3.png" alt="">
                        </div>
                        <h3>Perfect app for flight ticket booking</h3>
                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when at its layout.</p>
                        <p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using content here, generator here', making it look like readable English.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="achievement section-margin-right">
        <div class="container">
            <div class="achievement-body">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="achievement-content">
                            <div class="achievement-img">
                                <img src="img/achievement-ico1.png" alt="">
                            </div>
                            <div class="achievement-text">
                                <span>250k</span>
                                App Download
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="achievement-content">
                            <div class="achievement-img">
                                <img src="img/achievement-ico2.png" alt="">
                            </div>
                            <div class="achievement-text">
                                <span>100k</span>
                                Active Users
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="achievement-content">
                            <div class="achievement-img">
                                <img src="img/achievement-ico3.png" alt="">
                            </div>
                            <div class="achievement-text">
                                <span>20+</span>
                                Best Awards
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="achievement-content">
                            <div class="achievement-img">
                                <img src="img/achievement-ico4.png" alt="">
                            </div>
                            <div class="achievement-text">
                                <span>95%</span>
                                Happy Users
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="recent-news">
        <div class="recent-news-body container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5">
                    <h4>Recent News</h4>
                    <p>It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout</p>
                </div>
                <div class="col-md-1 offset-md-5">
                    <div class="recent-news-img-wrapper">
                        <a href="#"><img src="img/recent-news-ico-left.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="recent-news-img-wrapper">
                        <a href="#"><img src="img/recent-news-ico-right.png" alt=""></a>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="recent-news-content">
                        <div class="recent-news-img">
                            <img src="img/recent-news-img1.png" alt="">
                        </div>
                        <h4>2o Most Beatiful Places</h4>
                        <p class="subtitle">Posted By : Admin   |   07 Sep, 2018</p>
                        <p>Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.</p>
                        <a href="#" class="btn-linker">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="recent-news-content">
                        <div class="recent-news-img">
                            <img src="img/recent-news-img2.png" alt="">
                        </div>
                        <h4>Theme Parks In Dubai</h4>
                        <p class="subtitle">Posted By : Admin   |   07 Sep, 2018</p>
                        <p>Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.</p>
                        <a href="#" class="btn-linker">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="recent-news-content">
                        <div class="recent-news-img">
                            <img src="img/recent-news-img3.png" alt="">
                        </div>
                        <h4>Getting Drencd In Rain</h4>
                        <p class="subtitle">Posted By : Admin   |   07 Sep, 2018</p>
                        <p>Ut enim ad minim veniquis nostrud lieon tear exercitation ullamco.If you use this site to donating a bandwidth bill.</p>
                        <a href="#" class="btn-linker">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-body container">
            <div class="row">
                <div class="col-12 col-md-6 col-ld-4">
                    <div class="row">
                        <div class="col">
                            <div class="logo">
                                <img src="img/logo.png" alt="TAKEOFF">
                            </div>
                            <p class="footer-p">It is a long established fact that  it is reader will be distracted it by readable content of a pagei when at it conten making.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="follow-ico-title">Follow Us</h4>
                            <div class="follow-ico">
                                <a href="#"><img src="img/Facebook.png" alt=""></a>
                                <a href="#"><img src="img/Twitter.png" alt=""></a>
                                <a href="#"><img src="img/Instagram.png" alt=""></a>
                                <a href="#"><img src="img/Linkedin.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-ld-2">
                    <h4>Recomended</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Watch Demo Video</a></li>
                        <li><a href="#">Documents</a></li>
                        <li><a href="#">Intigrations</a></li>
                        <li><a href="#">Creating Tasks</a></li>
                        <li><a href="#">Themes</a></li>
                        <li><a href="#">Plugin</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-ld-2">
                    <h4>Other Links</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Live Chanel</a></li>
                        <li><a href="#">Latest Peoject</a></li>
                        <li><a href="#">Manage Work</a></li>
                        <li><a href="#">Quick Start Guide</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-ld-4">
                    <div class="row">
                        <div class="col">
                            <h4>Subscribe & Download</h4>
                            <p>Subscribe to our newsletter for latest update</p>
                            <form action="#">
                                <input type="text" placeholder="Enter your email">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="button btn-bg-1">
                                <div class="button-img">
                                    <img src="img/apple.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Apple Store
                                </div>
                            </a>
                            <a href="#" class="button btn-bg-2">
                                <div class="button-img">
                                    <img src="img/play.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Play Store
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>