<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App 2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class= "header-body container">
            <div class="logo">
                <img src="img/header/Logo.png" alt="APPNest">
            </div>
            <ul class="top-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">feature</a></li>
                <li><a href="#">pricing</a></li>
                <li><a href="#">team</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a href="#" class="button">Get the app</a>
        </div>
    </header>
    <section class="first-screen">
        <div class="first-screen-body container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 order-1 order-md-0">
                    <div class="first-screen-text">
                        <h1>
                            <span>App<span class="span-light">nest</span></span> Best Mobile
                            <span class="span-little">App Landing Page</span>
                        </h1>
                        <p class="subtitle">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                            nisi ut aliquip ex ea commodo consequat
                        </p>
                        <div class="button-wrap">
                            <a href="#" class="btn-color">
                                <div class="button-img">
                                    <img src="img/first-screen/Apple.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Apple Store
                                </div>
                            </a>
                            <a href="#" class="button">
                                    <div class="button-img">
                                        <img src="img/first-screen/Play-store.png" alt="">
                                    </div>
                                    <div class="button-inner">
                                        <span>Download From</span> Play store
                                    </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-0 order-md-1">
                    <div class="img-wrap">
                        <img src="img/first-screen/iPhone-X-Mockup.png" alt="iPhone">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-box">
        <div class="info-box-body container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-box-content">
                        <div class="info-box-img-wrap">
                            <div class="info-box-img img-bg1">
                                <img src="img/info-box/Edit-Icon.png" alt="">
                            </div>
                        </div>
                        <h5>Clean Design</h5>
                        <p>Lorem has survived not only five top 
                            centuries, but also the leap intoelect
                             typesetting changed.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-box-content">
                        <div class="info-box-img-wrap">
                            <div class="info-box-img img-bg2">
                                <img src="img/info-box/User Friendly.png" alt="">
                            </div>
                        </div>
                        <h5>Clean Design</h5>
                        <p>Lorem has survived not only five top 
                            centuries, but also the leap intoelect
                             typesetting changed.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-box-content">
                        <div class="info-box-img-wrap">
                            <div class="info-box-img img-bg3">
                                <img src="img/info-box/Setting.png" alt="">
                            </div>
                        </div>
                        <h5>Clean Design</h5>
                        <p>Lorem has survived not only five top 
                            centuries, but also the leap intoelect
                             typesetting changed.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-box-content">
                        <div class="info-box-img-wrap">
                            <div class="info-box-img img-bg4">
                                <img src="img/info-box/Branding-Icon.png" alt="">
                            </div>
                        </div>
                        <h5>Clean Design</h5>
                        <p>Lorem has survived not only five top 
                            centuries, but also the leap intoelect
                             typesetting changed.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="app-core">
        <div class="app-core-body container">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <div class="app-core-img-wrapp">
                        <img src="img/app-core/App-core-img.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="app-core-content">
                        <h3>App Core <span>Features</span></h3>
                        <p>It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.</p>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="app-core-box">
                                    <div class="app-core-img">
                                        <img src="img/app-core/Icon.png" alt="">
                                    </div>
                                    
                                    <h5>Premium Quality</h5>
                                    <p>Lorem has survived not only five to
                                        but also the leap.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="app-core-box">
                                    <div class="app-core-img">
                                        <img src="img/app-core/Icon-1.png" alt="">
                                    </div>
                                    
                                    <h5>Premium Quality</h5>
                                    <p>Lorem has survived not only five to
                                        but also the leap.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="app-core-box">
                                    <div class="app-core-img">
                                        <img src="img/app-core/Icon-2.png" alt="">
                                    </div>
                                    
                                    <h5>Premium Quality</h5>
                                    <p>Lorem has survived not only five to
                                        but also the leap.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="app-core-box">
                                    <div class="app-core-img">
                                        <img src="img/app-core/Forma 1.png" alt="">
                                    </div>
                                    
                                    <h5>Premium Quality</h5>
                                    <p>Lorem has survived not only five to
                                        but also the leap.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="video">
        <div class="video-body container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-5 order-1 order-lg-0 ">
                    <h3>App Overview For Easy<span>Understanding</span></h3>
                    <p>It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout. As opposed it conten making it look like readable English.</p>
                    <div class="button-wrap">
                        <a href="#" class="btn-color">
                            <div class="button-img">
                                <img src="img/first-screen/Apple.png" alt="">
                            </div>
                            <div class="button-inner">
                                <span>Download From</span> Apple Store
                            </div>
                        </a>
                        <a href="#" class="button">
                                <div class="button-img">
                                    <img src="img/first-screen/Play-store.png" alt="">
                                </div>
                                <div class="button-inner">
                                    <span>Download From</span> Play store
                                </div>
                        </a>
                    </div>              
                </div>
                <div class="col-12 col-lg-6 offset-lg-1 order-0 order-lg-1">
                    <div class="img-wrapper">
                        <img src="img/video/video-img.png" alt="">
                        <div class="content">
                            <img src="img/video/Play Icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="screenshots">
        <div class="screenshots-body container">
            <h3>Awesome <span>Screenshots</span></h3>
            <p>It is a long established fact that a reader will be distracted its by the 
                readable content of a page when at its layout</p>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="img-wrap">
                        <img src="img/screenshots/Image 1.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="img-wrap">
                        <img src="img/screenshots/Image 2.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="img-wrap">
                        <img src="img/screenshots/Image 3.png" alt="">
                        <div class="content">
                            <img src="img/screenshots/Icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="achievement">
        <div class="achievement-body container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="wrapper">
                        <div class="img-wrapper"><img src="img/achievement/Icon.png" alt=""></div>
                        <div class="title">250K</div>
                        <div class="text">App Download</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="wrapper">
                        <div class="img-wrapper"><img src="img/achievement/Icon-1.png" alt=""></div>
                        <div class="title">100k</div>
                        <div class="text">Active Users</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="wrapper">
                        <div class="img-wrapper"><img src="img/achievement/Icon-2.png" alt=""></div>
                        <div class="title">20+</div>
                        <div class="text">Best Awards</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="wrapper">
                        <div class="img-wrapper"><img src="img/achievement/Forma 1.png" alt=""></div>
                        <div class="title">95%</div>
                        <div class="text">Happy Users</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="feedback-body container">
            <h3>Client’s <span>Feedback</span></h3>
            <p>It is a long established fact that a reader will be distracted its by the 
                readable content of a page when at its layout</p>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="feedback-content">
                        <div class="img-wrap"><img src="img/feedback/Robert.png" alt="Robert Colin"></div>
                        <h4>Robert Colin</h4>
                        <p class="subtitle">Repto inc</p>
                        <p>Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.</p>
                        <div class="stars">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="feedback-content">
                        <div class="img-wrap"><img src="img/feedback/Haryy.png" alt="Harry Cane"></div>
                        <h4>Harry Cane</h4>
                        <p class="subtitle">Microsoft</p>
                        <p>Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.</p>
                        <div class="stars">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="feedback-content">
                        <div class="img-wrap"><img src="img/feedback/Silve.png" alt="Silve Adams"></div>
                        <h4>Silve Adams</h4>
                        <p class="subtitle">Quark inc</p>
                        <p>Lorem Ipsum is simply dummy teix of the printing and typesetting ind Lorem has book.</p>
                        <div class="stars">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                            <img src="img/feedback/star.png" alt="*">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="pricing-table">
        <div class="pricing-table-body container">
            <h3>Pricing <span>Table</span></h3>
            <p>It is a long established fact that a reader will be distracted its by the 
                readable content of a page when at its layout</p>
            
            
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="pricing-table-content">
                        
                        <h4>Starter</h4>
                        <div class="decor-text">$50</div>
                        <p class="subtitle">Monthly</p>
                        <ul>
                            <li>10 GB file storage</li>
                            <li>10 Workspaces</li>
                            <li>Enhanced Security</li>
                            <li>20 Projects per month</li>
                            <li>Premium support</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="pricing-table-content">
                        
                        <h4>Professional</h4>
                        <div class="decor-text">$150</div>
                        <p class="subtitle">Monthly</p>
                        <ul>
                            <li>10 GB file storage</li>
                            <li>10 Workspaces</li>
                            <li>Enhanced Security</li>
                            <li>20 Projects per month</li>
                            <li>Premium support</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="pricing-table-content">
                        
                        <h4>Premium</h4>
                        <div class="decor-text">$250</div>
                        <p class="subtitle">Monthly</p>
                        <ul>
                            <li>10 GB file storage</li>
                            <li>10 Workspaces</li>
                            <li>Enhanced Security</li>
                            <li>20 Projects per month</li>
                            <li>Premium support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>