<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanatos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="first-screen">
        <header class="header container">
            <img src="img/Logo.png" alt="TanatosStudio" class="logo">
            <nav class="menu">
                <p class="title-menu">Menu</p>
                <div class="burger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </nav>
        </header>
        <div class="first-screen-content container">
            <div class="row">
                <div class="col-8">
                    <h1>WE DESIGN <span>THINGS</span></h1>
                </div>
                <div class="col-8">
                    <p class="h1-subtitle">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt modi possimus ducimus veritatis dolorum enim ratione!
                    </p>
                </div>
            </div>
            <div class="row">
                <a href="#" class="button col-3">HIRE US</a>
                <a href="#" class="button col-3">OUR WORKS</a>
            </div>
        </div>
        <div class="down">
        </div>
    </section>
    <section class="our-services container">
        <div class="row">
            <div class="our-services-cards col-3">
                <div class="img-wrap">
                    <img src="img/1design.png" alt="" class="service-img">
                </div>
                <h4>PRINT DESIGN</h4>
                <p>uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
            </div>
            <div class="our-services-cards col-3">
                <div class="img-wrap">
                    <img src="img/2desing.png" alt="" class="service-img">
                </div>
                <h4>WEB DESIGN</h4>
                <p>uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
            </div>
            <div class="our-services-cards col-3">
                <div class="img-wrap">
                    <img src="img/3design.png" alt="" class="service-img">
                </div>
                <h4>APP DESIGN</h4>
                <p>uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
            </div>
            <div class="our-services-cards col-3">
                <div class="img-wrap">
                    <img src="img/4design.png" alt="" class="service-img">
                </div>
                <h4>LOGO DESIGN</h4>
                <p>uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
            </div>
        </div>
    </section>

    <section class="newsletter-bg">
        <div class="newsletter container">
            <form action="#" class="newsletter-form row">
                <input type="text" placeholder="Enter Your email adress for newsletter" class="newsletter-input col-5">
                <input type="button" value="SUBSCRIBE" class="col-3">
            </form>
        </div>
    </section>

    <section class="our-works container">
        <div class="title row">
            <div class="col-6">
                <h2>OUR <span>WORKS</span></h2>
                <p class="h2-subtitle">
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
            </div>
        </div>
        <div class="mb70 row">

            <div class="col-4">
                <div class="img1 img"></div>
            </div>
            
            <div class="col-4">
                <div class="img2 img"></div>
            </div>

            <div class="col-4">
                <div class="img3 img"></div>
            </div>

            <div class="col-4">
                <div class="img4 img"></div>
            </div>

            <div class="col-4">
                <div class="img5 img"></div>
            </div>

            <div class="col-4">
                <div class="img6 img"></div>
            </div> 
        </div>
        <div class="mb100 row">
            <div class="col-3">
                <a href="#" class="button">Show more</a>
            </div>
        </div>
    </section>

    <section class="what-clients-say">
        
    </section>

</body>
</html>