// ------------------------------------------------------------------------------------------------
// MODULES
// ------------------------------------------------------------------------------------------------


// ------------------------------------------
// TITLE
// ------------------------------------------

.title {
	max-width: 380px;
	
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 0;
	}

	.subtitle {
		font-family: 'Hind', sans-serif;
		font-size: 13px;
		font-weight: 500;
		color: $primary-color;

		&.subtitle-big {
			font-size: 16px;
			font-weight: 400;
		}
	}
}

// ------------------------------------------
// BUTTONS
// ------------------------------------------

.button {
	padding: 15px 35px;
	background-color: #fff;
	font-weight: 600;
	color: rgba(16, 16, 16, 0.8);
	font-size: 14px;

	//**** BUTTON SIZE ****//

	&.btn-large {
		padding: 15px 70px;
	}
	&.btn-medium {
		padding: 15px 30px;
	}
	&.btn-small {
		padding: 15px 25px;
	}
	&.btn-x-small {
		padding: 15px 20px;
	}

	//**** BUTTON BG COLOR ****//

	&.btn-primary-color {
		background-color: $primary-color;
	}
	&.btn-dark-color {
		background-color: #333333;
	}
	&.btn-light-color {
		background-color: #fff;
	}
	&.btn-none-color {
		background-color: transparent;
	}

	//**** BUTTON TEXT COLOR ****//

	&.btn-text-white {
		color: #fff;
	}

	//**** TYPE BUTTON ****//
	
	&.btn-square {
		padding: 0;
		width: 30px;
		height: 30px;

		&.btn-square-bgc-1 {
			background-color: #A3B2A4;
		}
		&.btn-square-bgc-2 {
			background-color: #D6575E;
		}
	}

	&.btn-bordered {
		border: 1px solid rgba(16, 16, 16, 0.05);
	}

}

// ------------------------------------------
// INFO BOX
// ------------------------------------------



// ------------------------------------------
// BANNERS
// ------------------------------------------

.banner {
	position: relative;

	.img-wrapper {
		
		img {
			width: 100%;
		}
	}

	.content {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 280px;
		padding: 40px;
	}

	&.banner-large {
		
		.content {
			max-width: 440px;
		}

		.btn-wrapper {
			display: flex;
			align-items: center;

			.button {

				&:not(:last-child) {
					
					margin-right: 20px;
				}
			}
		}
	}
}

// ------------------------------------------
// FORM
// ------------------------------------------

.search-wrapper {
	flex-basis: 580px;
}

.search {
	position: relative;
	flex-grow: 1;

	button {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 40px;
		padding: 0;
		background-color: transparent;

		i {
			color: rgba(16, 16, 16, 0.5);
			font-size: 16px;
		}
	}

	input[type=text] {
		padding-left: 40px;
		color:rgba(16, 16, 16, 0.5);
		font-weight: 500;

		&::placeholder {
			color:rgba(16, 16, 16, 0.5);

		}
	}

	select {
		position: absolute;
		right: 20px;
		top: 0px;
		bottom: 0px;
		padding: 0;
		width: 144px;
		padding-left: 20px;
		color: rgba(16, 16, 16, 0.8);
		text-transform: capitalize;
		border-right: none;
	}
}

// ------------------------------------------
// LISTS
// ------------------------------------------

