// ------------------------------------------------------------------------------------------------
// CLASS HELPER
// ------------------------------------------------------------------------------------------------

.primary-color {
	color: $primary-color;
}

// ------------------------------------------------------------------------------------------------
// PRIMARY PAGE STYLE
// ------------------------------------------------------------------------------------------------

.container {
	max-width: 1210px;
}

// ------------------------------------------
// HEADER
// ------------------------------------------

.header-general {

	
	color:rgba(16, 16, 16, 0.8);
	
	p {
		margin-bottom: 0;
	}

	a {
		color: inherit;

		&:hover {
			color: $primary-color;
		}
	}

	ul, ol {
		list-style: none;
		margin-bottom: 0;
	}
	
	ul,
	li {
		padding: 0;
	}
}

.header-top {
	background-color: $primary-color;
	margin-bottom: 20px;
	font-size: 13px;

	.header-row-inner {
		height: 40px;
	}

	.content {
	display: flex;
	align-items: center;
	min-height: 20px;

	div {
		padding-left: 10px;
		padding-right: 10px;
		border-right: 1px solid rgba(255,255, 255, 0.1);

		&:last-child {
			padding-right: 0;
			border-right: none;
		}
	}

	.usd, .usa {
		text-transform: uppercase;

		i {
			color: rgba(255,255, 255, 0.4);
			margin-left: 5px;
			font-size: 12px;
		}
	}

	.usa {

		img {
			width: 20px;
			margin-right: 5px;
		}
	}
	
}
}

.contact {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}



  
.header-main {
	margin-bottom: 20px;
	font-size: 13px;
	
	.header-row-inner {
	  height: 60px;
	}
}

.logo {
	width: 150px;
	flex-shrink: 0;
}

.header-actions {
	display: flex;

	i {
		font-size: 20px;
		margin-right: 5px;
	}

	div {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	span {
		color: rgba(16, 16, 16, 0.5);
	}
}

.account,
.wish,
.bag {
    white-space: nowrap;
}

  
.header-bottom {
	border-bottom: 1px solid #F5F5F5;
    margin-bottom: 20px;
	
	.header-row-inner {
	  height: 60px;
	}
}
  
.header-row-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// ------------------------------------------
// HEADER COLUMNS
// ------------------------------------------
  
.header-col {
	display: flex;
	flex-grow: 1;
}
  
.header-col-left {
	padding-right: 15px;
}
  
.header-col-right {
	padding-left: 15px;
	justify-content: flex-end;
}


// ------------------------------------------
// MAIN NAV
// ------------------------------------------

.header-menu {

	li {
	  
		a {
		  display: flex;
		  align-items: center;
		  height: 60px;
		}
	}
}

.main-nav-wrapper {
	margin-left: -15px;
}

.main-nav {
	display: flex;

	li {
		position: relative;

		a {
			padding-left: 15px;
			padding-right: 15px;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 3px;
				background-color: $primary-color;
				opacity: 0;
				visibility: hidden;
			}

			i {
				width: 20px;
				text-align: center;
			}
		}

		&:hover {
			a {
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
  
.header-col-left {
  
	.main-nav {
	   margin-left: -15px;
	}
}
  
  
.header-col-right {
  
	.main-nav {
	   margin-right: -15px;
	}
}

// ------------------------------------------
// VERTICAL MENU
// ------------------------------------------

.vertical-menu-wrapper {
	max-width: 295px;
    margin-right: 5px;
}

.vertical-menu {
	position: relative;
	min-width: 280px;
	background-color: $primary-color;

	> li:first-child {
		>a {
			&:hover {
				color: #fff;
			}

			i {
				color: #fff;

				&:first-child {
					text-align: center;
				}
			}
		}
	
	}
	
	li {
		display: flex;
		align-items: center;
		cursor: pointer;
		
		i {
			color: rgba(16, 16, 16, 0.4);
			width: 50px;
		}

		a {
			flex-grow: 1;
		}

		span {
			flex-grow: 1;
		}

	}

	> li {

		> a {
			color: #fff;
		}
	}
}

.sub-menu {
	position: absolute;
    top: 100%;
	left: 0;
	width: 100%;
    border: 1px solid rgba(16, 16, 16, 0.05);
    background-color: #fff;
    z-index: 1;
	
	li {
	  position: relative;

		a {
		  height: 50px;
		}

		&:not(:last-child) {
			
			&::after {
				content: "";
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
				height: 1px;
				background-color: rgba(16, 16, 16, 0.05);
			}
			
		}
	}
	
}

.burger {
	display: none;
	font-size: 30px;
	color: $primary-color;
	padding: 10px;
	line-height: 1;
}

// ------------------------------------------
// FIRST SCREEN
// ------------------------------------------
