// ------------------------------------------------------------------------------------------------
// RESPONSIVE
// ------------------------------------------------------------------------------------------------

@media (max-width: 992px) {
	.header-bottom, .search-wrapper, .header-actions {
		display: none;
	}
	.header-top {
		.header-col-left {
			justify-content: space-between;
			padding-right: 0;
			flex-wrap: wrap;
		}

		.header-col-right {
			display: none;
		}
	}
	.burger {
		display: block;
	}
}