@font-face{
    font-family: "helvetica";
    src: url('../fonts/Helvetica.ttf');
    font-weight: 400;
}
@font-face{
    font-family: "helvetica";
    src: url('../fonts/Helvetica-Bold.ttf');
    font-weight: 700;
}
@font-face{
    font-family: "helvetica-neue";
    src: url('../fonts/HelveticaNeue.ttf');
    font-weight: 400;
}
@font-face{
    font-family: "helvetica-neue";
    src: url('../fonts/HelveticaNeue\ Light.ttf');
    font-weight: 300;
}
@font-face{
    font-family: "helvetica-neue";
    src: url('../fonts/Helvetica\ Neue\ Bold.ttf');
    font-weight: 700;
}