$primary-color: #36B1F5;
$transition: all .4s ease;

// font-family: 'Cabin', sans-serif;
// font-family: 'Red Hat Display', sans-serif;

body {
	font-family: 'Cabin', sans-serif;
	background-color: #F7F7F7;
	color: rgba(16, 16, 16, 0.9);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
}

.container {
	max-width: 1300px;
}


// ------------------------------------------
// HEADERS
// ------------------------------------------

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 20px;
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

// ------------------------------------------
// PARAGRAPHS
// ------------------------------------------

p {
	font-family: 'Red Hat Display', sans-serif;
	margin-bottom: 20px;
	color: rgba(16, 16, 16, 0.5);
	line-height: 1.6;
}

small {
	font-size: 80%;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

// ------------------------------------------
// ARTICLES
// ------------------------------------------

article {

	p {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ------------------------------------------
// BLOCK QUOTES
// ------------------------------------------

blockquote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 60px 20px 60px;
	border-top: 1px solid rgba(16,16,16,.05);
	border-bottom: 1px solid rgba(16,16,16,.05);
	text-align: center;

	.post-label {
		position: static;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
		font-family: 'Cabin', sans-serif;
		font-weight: 500;
		font-style: italic;
		font-size: 24px;
		color: rgba(16, 16, 16, 0.7);
		line-height: 1.4;
	}

	cite {
		font-size: 18px;
		color:rgba(16, 16, 16, 0.4);
	}
}

// ------------------------------------------
// LINKS
// ------------------------------------------

a {
	color: $primary-color;
	text-decoration: none;
	transition: $transition;
	
	&:hover {
		color: darken($color: $primary-color, $amount: 20%);
	}

	&.button {
		
		&:hover {
			color: #fff;
		}
	}
}

// ------------------------------------------
// IMAGES
// ------------------------------------------

img {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}

// ------------------------------------------
// TABLES
// ------------------------------------------

table {
	border: 1px solid rgba(16, 16, 16, 0.1);
	width: 100%;
}

th {
	font-weight: 600;
}

th,
td {
	padding: 5px 15px;	
	border-right: 1px solid rgba(16, 16, 16, 0.1);

	&:last-child {
		border-right: 0;
	}
}

// ------------------------------------------
// LISTS
// ------------------------------------------

ul,
ol {
	padding-left: 40px;
	margin-bottom: 40px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 10px;
}

// ------------------------------------------
// FORM
// ------------------------------------------

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
input[type=time],
select,
textarea{
	display: flex;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(16, 16, 16, 0.1);
	border-radius: 5px;
	outline: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
input[type=time],
select {
	height: 42px;
	padding-left: 15px;
	padding-right: 15px;
}

label {
	display: inline-block;
	font-weight: 600;

	span {
		color: #E44242;
	}
}

textarea {
	padding: 20px;
}

// ------------------------------------------
// BUTTONS
// ------------------------------------------

input[type=button],
input[type=submit],
button,
.button {
	display: inline-block;
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	outline: none;
	background-color: $primary-color;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	transition: $transition;

	&:hover {
		background-color: darken($color: $primary-color, $amount: 20%);
	}
}

// ------------------------------------------
// COLOR SCHEME
// ------------------------------------------

.color-scheme-light {
	color: #FFF;

	h1,h2,h3,h4,h5,h6,span {
		color: #FFF;
	}

	p, ul {
		color: rgba(255, 255, 255, 1);
	}

	input[type=text], input::placeholder{
		color: rgba(255, 255, 255, .5);
	}
}