// ------------------------------------------------------------------------------------------------
// MODULES
// ------------------------------------------------------------------------------------------------


// ------------------------------------------
// TITLE
// ------------------------------------------

.section-title {
	margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

	.arrows {
		display: flex;
		align-self: flex-end;
		font-size: 18px;
		color:rgba(16, 16, 16, 0.5);

		.arrow-wrapper {
			transition: $transition;
			cursor: pointer;

			&.active,
			&:hover {
				color: #101010;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&.title-large {
		justify-content: flex-start;
		padding-top: 60px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}

	&.title-small {
		padding-top: 38px;
		padding-bottom: 38px;
		margin-bottom: 0;
	}
}

// ------------------------------------------
// BANNERS
// ------------------------------------------

.banner {
	position: relative;
	@include hover-scale;
	

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	.img-wrapper {
		border-radius: 5px;
	}

	.img-inner {

		img {
			width: 100%;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 20px;
	}

	h4 {
		margin-bottom: 0;
	}
}

// ------------------------------------------
// ARTICLE PREVIEW
// ------------------------------------------

.article-preview {
	position: relative;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	@include hover-scale;

	.img-wrapper {
		position: relative;
		border-radius: 5px 5px 0px 0px;
	}

	.content {
		padding: 10px 20px 40px 20px;
		background-color: #fff;
		border-radius: 0px 0px 5px 5px;
	}

	.meta-data {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		.left-col, .right-col	{
			display: flex;
			align-items: center;
		}

		.left-col {
			margin-right: 10px;

			.button {
				margin-right: 10px;
			}
		}

		
		.date {

			p {
				margin-bottom: 0;
				font-size: 15px;
				color: rgba(16, 16, 16, 0.3);
			}
		}

		.right-col {

			i {
				color:rgba(16, 16, 16, 0.5);
				transition: $transition;
			}
			
			a {
				display: block;
				padding: 5px;
				color: inherit;
				font-size: 14px;

				&:hover {

					i {
						color: $primary-color;

					}
				}
			}
		}

		.comments {
			position: relative;
			margin-right: 10px;

			.count {
				position: absolute;
				top: -8px;
				right: -5px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 18px;
				height: 18px;
				padding: 2px;
				border-radius: 50%;
				background-color: #E44242;
				font-size: 11px;
				color: #fff;
			}
		}

	}

	h4{
		margin-bottom: 20px;

		a {
			color:inherit;

			&:hover {
				color: $primary-color;
			}
		}
	}
}

.post-label {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: #fff;
	font-size: 18px;
	color: rgba(16, 16, 16, 0.8);

	&.post-label-bg-transparent {
		background-color: transparent;
		color: rgba(16, 16, 16, 0.1);
	}
	
}
// ------------------------------------------
// BUTTONS
// ------------------------------------------

.button {

	&.small-text {
		font-size: 13px;
	}

	&.button-extra-small {
		padding: 8px 10px;
		font-size: 11px;
	}

	&.button-large {
		padding: 16px 28px;
	}

	&.bordered {
		border: 1px solid rgba(16, 16, 16, 0.05);
	}

	&.btn-bg-color-1 {
		background-color: #E44242;

		&:hover {
			background-color: darken($color: #E44242, $amount: 20%);
		}
	}

	&.btn-bg-color-2 {
		background-color: #2B71F8;

		&:hover {
			background-color: darken($color: #2B71F8, $amount: 20%);
		}
	}

	&.btn-bg-color-white {
		background-color: #fff;
		color:rgba(16, 16, 16, 0.8);

		&:hover {
			background-color: darken($color: #fff, $amount: 20%);
		}
	}

	&.btn-bg-color-transparent {
		position: relative;
		background-color: transparent;
		color:rgba(16, 16, 16, 0.8);

		&:hover {
			color: rgba(16, 16, 16, 0.5);

			&::after {
				background-color: lighten($color: #e44242, $amount: 10%);
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 9px;
			left: 13px;
			right: 13px;
			height: 3px;
			background-color: #e44242;
			transition: $transition;
		}

		&.line-color-2 {

			&::after {
				left: 20px;
				right: 20px;
				background-color: #E0E0E0;
			}

			i {
				font-size: 17px;
				color: #E44242;
				margin-left: 10px;
			}

		}
	}
}

// ------------------------------------------
// AUTHOR TITLE
// ------------------------------------------

.author-title {
	display: flex;
	align-items: center;
	font-size: 18px;

	.img-wrapper {
		margin-right: 10px;
	}

	.name {
		font-weight: 500;
		font-size: 24px;
	}

	.profession {
		color: rgba(16, 16, 16, 0.5);
	}

	&.author-title-small {

		.content-wrapper {
			display: flex;
			align-items: center;
		}

		.name {
			font-weight: 400;
			font-size: 16px;
		}

		.profession {
			margin-left: 5px;
		}
	}

	&.author-title-extra-small {

		.img-wrapper {
			width: 20px;
			height: 20px;
			margin-right: 3px;
		}

		.content-wrapper {
			display: flex;
			align-items: center;
		}

		.name {
			font-family: 'Red Hat Display', sans-serif;
			font-weight: 500;
			font-size: 13px;
		}

	}
}

// ------------------------------------------
// SOCIAL LINKS
// ------------------------------------------

.social-links {
	display: flex;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	
	li {
		margin-bottom: 0;

		&:hover {
			a {
				color: $primary-color;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		color:  rgba(16, 16, 16, 0.7);
		padding: 8px;
	}

	i {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			
			width: 15px;
			height: 15px;
			margin-right: 15px;
		}
	}

	&.a-lighter {

		a {
			color:rgba(16, 16, 16, 0.5);
		}
	}
}

.vertical-list {

	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

	li {
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			a {
				color: $primary-color;
			}
		}
	}

	a {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Red Hat Display', sans-serif;
		color: rgba(16, 16, 16, 0.5);
	}

	&.with-icons {
		i {
			display: inline-flex;
			align-items: center;
			justify-content: center;
	
			&:not(:last-child) {
				width: 20px;
				height: 20px;
				margin-right: 20px;
			}
		}
	}
}

// ------------------------------------------
// PAGINATION
// ------------------------------------------

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgba(16, 16, 16, 0.05);
	font-weight: 600;
	color: rgba(16, 16, 16, 0.3);

	&.active {
		&:hover {
			background-color: darken($color: #E44242, $amount: 20%);
		}
	}

	&:hover,
	&.active {
		border: rgba(16, 16, 16, 0);
		background-color: #E44242;
		color: #fff;
	}
}

// ------------------------------------------
// BREAD CRUMBS
// ------------------------------------------

.bread-crumbs {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 13px;
	font-weight: 500;

	a {
		color:  rgba(16, 16, 16, 0.4);

		&::after {
			content: "/";
			padding-left: 5px;
		}

		&:hover {
			color: $primary-color;
		}
	}
}

// ------------------------------------------
// TAGS
// ------------------------------------------

.tags {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 11px 14px;
	margin-right: 10px;
	border-radius: 5px;
	border: 2px solid rgba(16, 16, 16, 0.05);
	font-size: 12px;
	font-weight: 600;
	color: rgba(16, 16, 16, 0.8);

	&:hover {
		background-color: rgba(16, 16, 16, 0.1);
		color: rgba(16, 16, 16, 0.9);
	}

	&:last-child {
		margin-right: 0;
	}
	
}