// ------------------------------------------------------------------------------------------------
// MODULES
// ------------------------------------------------------------------------------------------------

// ------------------------------------------
// BUTTONS
// ------------------------------------------

.button {

	&.small-text {
		font-size: 13px;
	}

	&.button-large {
		padding: 16px 28px;
	}

	&.btn-bg-color-1 {
		background-color: #E44242;

		&:hover {
			background-color: darken($color: #E44242, $amount: 20%);
		}
	}

	&.btn-bg-color-2 {
		background-color: #2B71F8;

		&:hover {
			background-color: darken($color: #2B71F8, $amount: 20%);
		}
	}
}
