// ------------------------------------------------------------------------------------------------
// HELPER CLASS
// ------------------------------------------------------------------------------------------------

.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.spacing-col-10 {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 20px;

	> [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;
	}
}

.spacing-col-bottom-40 {

	> [class*="col-"] {
		margin-bottom: 40px;
	}
}

.bottom-0 {
	margin-bottom: 0;

	> [class*="col-"] {

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// PAGES STYLE
// ------------------------------------------------------------------------------------------------

.main-header {
	background-color: #fff;

	.header-row-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}
}

.header-col {
	display: flex;
	flex-grow: 1;
}

.header-col-left {
	flex-grow: 0;
	padding-right: 68px;
}

.header-col-right {
	justify-content: flex-end;
	padding-left: 15px;
}

.primary-menu {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	
	li {
		margin-bottom: 0;

		&:hover {
			
			a {
				color: $primary-color;
			}
		}

		a {
			display: block;
			padding: 7px;
			font-size: 15px;
			font-weight: 600;
			color: rgba(16, 16, 16, 0.8);
		}
	}

	.arrow-down {
		margin-left: 5px;
	}
}

.language {
	margin-right: 30px;
	cursor: pointer;

	.arrow-down {
		margin-left: 5px;
	}
}

.faq {
	cursor: pointer;
}

.burger {
	display: none;
	padding: 5px;
	margin-right: -5px;
	cursor: pointer;

	i {
		display: block;
		font-size: 20px;
	}
}

// ------------------------------------------
// SLIDER
// ------------------------------------------

.broad-limitation {
	max-width: 530px;
}

.narrow-limitation {
	max-width: 420px;
}

.subtitle {
	margin-bottom: 40px;
}

.slider {
	padding-top: 100px;
	margin-bottom: 100px;

	h2 {
		margin-bottom: 40px;
		font-size: 70px;
		text-transform: capitalize;
	}

	.btn-wrapper {

		.button {

			&:first-child {
				margin-right: 19px;
			}
		}
	}

	.author-title {
		margin-bottom: 20px;
	}
}

// ------------------------------------------
// PHOTO COLLECTIONS
// ------------------------------------------

.photo-collections {
	margin-bottom: 100px;

	h3 {
		margin-bottom: 18px;
	}
}

// ------------------------------------------
// MY CLIENTS
// ------------------------------------------

.my-clients {
	padding-bottom: 70px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(16, 16, 16, 0.1);
}

.contact-me-wrapper {
	display: flex;
	align-items: center;

	.button,
	.social-links {
		margin-right: 20px;
	}
}

.email {
	font-family: 'Red Hat Display', sans-serif;
	color: rgba(16, 16, 16, 0.4);
	text-decoration: underline;
	cursor: pointer;
}

// ------------------------------------------
// BRANDS
// ------------------------------------------

.brands {
	margin-bottom: 80px;
}

.brands-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		margin-bottom: 0;

		&:hover {
			
			img {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}

	a {
		position: relative;
		display: flex;
		padding: 10px;
	}

	img {
		filter: grayscale(1);
		opacity: .3;
		transition: $transition;
	}
}

// ------------------------------------------
// RECENT WORK
// ------------------------------------------

.recent-works {
	margin-bottom: 100px;

	h3 {
		margin-bottom: 40px;
	}

	.btn-wrapper {
		display: flex;
		justify-content: center;
	}
}

// ------------------------------------------
// MY BLOG
// ------------------------------------------

.my-blog {
	margin-bottom: 120px;

	.narrow-limitation {
		margin-right: 20px;

		.subtitle {
			margin-bottom: 0;
		}
	}
}

// ------------------------------------------
// FOOTER
// ------------------------------------------

.footer {
	padding-top: 40px;
	background-color: #fff;

	form {
		display: flex;
		align-items: center;
	}

	input[type=email] {
		margin-right: 6px;
	}

	.bottom-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 20px;

		.logo-footer {
			padding-right: 15px;
		}

		p {
			padding-left: 15px;
		}
	}
}

// ------------------------------------------
// SCROLL TO TOP
// ------------------------------------------

.scroll-to-top {
	position: fixed;
	bottom: 35px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	font-size: 24px;
	color: #555555;
	z-index: 30;
	cursor: pointer;
}

// ------------------------------------------
// PAGINATION
// ------------------------------------------

.pagination-wrapper {
	display: flex;
	justify-content: center;

	.pagination {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// ------------------------------------------
// BLOG 
// ------------------------------------------

.blog {
	margin-bottom: 120px;
}

.blog-quotes {
	position: relative;
	height: 100%;

	&:hover {

		.img-wrapper {
			
			img {
				transform: scale(1.1);
			}
		}
	}

	.img-wrapper {
		overflow: hidden;
		border-radius: 5px;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: $transition;
		}
	}

	a {
		z-index: 2;
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;
		padding: 20px;
		height: 100%;

		&.quote {

			p {
				margin-bottom: 30px;
				font-family: 'Cabin', sans-serif;
				font-size: 18px;
			}

			.author {
				margin-bottom: 0;
				font-style: italic;
			}
		}
	}
}

// ------------------------------------------
// POST TITLE
// ------------------------------------------

.post-title {
	display: flex;
	align-items: flex-end;
	background: url(../img/p-blog-2.jpg) center / cover no-repeat;
	min-height: 440px;
	border-radius: 5px;
	margin-bottom: 40px;

	.content {
		max-width: 450px;
		padding: 30px;

		.button,
		h3 {
			margin-bottom: 15px;
			text-transform: capitalize;
		}
	}

	.meta-data {
		display: flex;
		align-items: center;
		font-size: 13px;

		.author-title {
			margin-right: 11px;
		}

		span {
			opacity: .5;
		}
	}
}

// ------------------------------------------
// MY POST
// ------------------------------------------

.my-post {
	margin-bottom: 80px;

	.top-title {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	img {
		border-radius: 5px;
		width: 100%;
	}
}

//**** POST BODY ****//

.post-body {

	.img-wrapper {

		img {
			width: 100%;
		}
	}
}

.article-inner {
	margin-bottom: 20px;
}

.article-footer {
	border-top: 1px solid rgba(16, 16, 16, 0.05);
	padding-top: 20px;
	margin-bottom: 80px;
}

.article-footer-top,
.article-footer-bottom {
	display: flex;
	justify-content: space-between;
}

.article-footer-top {
	margin-bottom: 63px;
}

.tags-wrapper {
	display: flex;
	align-items: center;
	margin-right: 10px;
	overflow-y: hidden;
}

.previous-post,
.next-post {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 410px;
	border-radius: 5px;
	transition: $transition;

	.img-wrapper {
		max-width: 100px;

		img {
			border-radius: 5px;
			height: 100px;
			object-fit: cover;
		}
	}

	.text-wrapper {
		
		h5 {
			margin-bottom: 12px;
			font-weight: 500;
			color: #373839;
		}

		.subtitle {
			margin-bottom: 0;
			font-family: "Cabin", sans-serif;
			font-weight: 600;
			color: rgba(16, 16, 16, 0.4);

			i {
				font-size: 15px;
			}
		}
	}
}

.previous-post {
	margin-right: 10px;

	&:hover {
		box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);

		.text-wrapper {
	
			.subtitle {
				color: $primary-color;
			}
		}
	}

	.img-wrapper {
		margin-right: 20px;
	}

	.text-wrapper {
		text-align: left;
		padding-right: 20px;

		.subtitle {

			i {
				margin-right: 5px;
			}
		}
	}
}

.next-post {
	margin-left: 10px;

	&:hover {
		box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
		
		.text-wrapper {
			margin-left: 20px;
	
			.subtitle {
				color: $primary-color;
			}
		}
	}

	.img-wrapper {
		margin-left: 20px;
	}

	.text-wrapper {
		text-align: right;

		.subtitle {

			i {
				margin-left: 5px;
			}
		}
	}
}

// ------------------------------------------
// COMMENTS
// ------------------------------------------

.comments-sections {

	.subtitle {
		margin-bottom: 20px;
	}

	label {
		padding-bottom: 15px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}

// ------------------------------------------
// WIDGETS
// ------------------------------------------


.widget {
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);
	margin-bottom: 15px;

	h6 {
		font-weight: 400;
	}

	i {
		margin-right: 6px;
		font-size: 13px;
	}
}

.widget-categories {

	.vertical-list {

		a {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

.recent-post {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 5px;
	transition: $transition;

	h6 {
		font-weight: 400;

		a {
			position: relative;
			z-index: 1;
		}
	}

	a {
		color: inherit;

		&:hover {
			color: $primary-color;
		}
	}

	&:hover {
		box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
	}

	&:last-child {
		margin-bottom: 0;
	}

	.img-wrapper {
		margin-right: 5px;
		max-width: 80px;

		img {
			border-radius: 5px;
			height: 80px;
			object-fit: cover;
		}
	}

	.content {
		padding: 5px;
	}

	.meta-data {
		display: flex;
		align-items: center;
		font-family: 'Red Hat Display', sans-serif;
		font-size: 13px;
		font-weight: 500;
		color:  rgba(16, 16, 16, 0.3);

		.date {
			display: flex;
			margin-right: 17px;
		}

		.comments {
			display: flex;
		}
	}
}

.recent-comment {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color:rgba(16, 16, 16, 0.9);
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	i {
		color:  rgba(16, 16, 16, 0.4);
	}
	
	.author {
		font-weight: 400;
		color:  rgba(16, 16, 16, 0.4);
	}

}

.sidebar {

	.banner {

		.content {
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 0;
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
			padding: 10px;
		}

		.subtitle {
			margin-bottom: 16px;
			font-size: 16px;
			font-weight: 400;
		}

		h6 {
			margin-bottom: 16px;
		}

		.button {
			color: #fff;
			z-index: 1;

			&:hover {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

// ------------------------------------------
// CONTACT ME
// ------------------------------------------

.contact-me {
	margin-bottom: 130px;

	h3 {
		text-transform: capitalize;
	}

	form {

		p {
			margin-bottom: 15px;
			color:rgba(16, 16, 16, 0.8);
			font-size: 18px;
			font-weight: 400;

			span {
				color: #E44242;
			}
		}
	}
}

.checkbox-wrapper {
	white-space: nowrap;
	overflow-y: hidden;
}

.contact-me-checkbox {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 13px 20px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 600;
	color: rgba(16, 16, 16, 0.8);
	cursor: pointer;
	margin-right: 15px;
	transition: $transition;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}

	&.disable {
		color: rgba(16, 16, 16, 0.5);
	}

	i {
		font-size: 15px;
		color: #88ba62;
		margin-left: 5px;
	}
}

.accordion-wrapper {

	.accordion {

		&:first-child {
			border-top: 1px solid  rgba(16, 16, 16, 0.05);
		}
	}
}

.reply-time {
	display: flex;
	align-items: center;
	margin-bottom: 40px;

	span {
		color: rgba(16, 16, 16, 0.9);
	}
}

.green-circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #92e93b;
	margin-right: 6px;
}

.bottom-line {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}