// ------------------------------------------------------------------------------------------------
// HELPER CLASS
// ------------------------------------------------------------------------------------------------

.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hover-scale {
	
	&:hover {
		
		.img-inner {
			transform: scale(1.1);
		}
	}

	.img-wrapper {
		overflow: hidden;
	}

	.img-inner {
		transition: $transition;

		img {
			width: 100%;
		}
	}
}

.spacing-row-col-10 {	
	margin-left: -10px;
	margin-right: -10px;

	> [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.spacing-col-10 {
		
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 40px;

	> [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.spacing-col-bottom-40 {

	> [class*="col-"] {
		margin-bottom: 40px;
	}
}

.buttom-0 {
	margin-bottom: 0;
}

// ------------------------------------------------------------------------------------------------
// PAGES STYLE
// ------------------------------------------------------------------------------------------------

.main-header {
	background-color: #fff;

	.header-row-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}
}

.header-col {
	display: flex;
	flex-grow: 1;
}
  
.header-col-left {
	padding-right: 68px;
	flex-grow: 0;
}
  
.header-col-right {
	padding-left: 15px;
	justify-content: flex-end;
}

.primary-menu {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	
	li {
		margin-bottom: 0;

		&:hover {
			
			a {
				color: $primary-color;
			}
		}
		
		a {
			display: block;
			padding: 7px;
			font-size: 15px;
			font-weight: 600;
			color: rgba(16, 16, 16, 0.8);
		}
	}

	.arrow-down {
		margin-left: 5px;
	}
}

.language {
	margin-right: 30px;
	cursor: pointer;

	.arrow-down {
		margin-left: 5px;
	}
}

.faq {
	cursor: pointer;
}

.burger {
	display: none;
	padding: 5px;
	margin-right: -5px;
	cursor: pointer;

	i {
		display: block;
		font-size: 20px;
	}
}

// ------------------------------------------
// SLIDER
// ------------------------------------------

.slider {
	padding-top: 100px;
	margin-bottom: 146px;

	.title {
		margin-bottom: 40px;

		h2 {
			text-transform: capitalize;
		}
	}

	p {
		margin-bottom: 40px;
		line-height: 1.3;
	}

	.btn-wrapper {
		.button {

			&:first-child {
				margin-right: 19px;
			}
		}
	}

	.author-title {
		margin-bottom: 20px;
	}
}

// ------------------------------------------
// Photo Collections
// ------------------------------------------

.photo-collections {
	margin-bottom: 120px;

	.title {
		margin-bottom: 40px;

		h3 {
			margin-bottom: 18px;
		}
	}
}

// ------------------------------------------
// MY CLIENTS
// ------------------------------------------

.my-clients {
	padding-bottom: 70px;
	margin-bottom: 40px;
	border-bottom: 1px solid rgba(16, 16, 16, 0.1);

	.title {
		margin-bottom: 20px;
	}

	.my-clients-text {

		h5 {
			margin-bottom: 20px;
		}
	}
}

.contact-me-wrapper {
    display: flex;
    align-items: center;

	.button,
	.social-links {
		margin-right: 20px;
	}
}

.email {
	font-family: 'Red Hat Display', sans-serif;
	color: rgba(16, 16, 16, 0.4);
	text-decoration: underline;
	cursor: pointer;
}

// ------------------------------------------
// BRANDS
// ------------------------------------------

.brands {
	margin-bottom: 80px;
}

.brands-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		margin-bottom: 0;

		&:hover {
			
			img {
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}

	a {
		position: relative;
		display: flex;
		padding: 10px;
	}

	img {
		filter: grayscale(1);
		opacity: .3;
		transition: $transition;
	}

}

// ------------------------------------------
// RECENT WORK
// ------------------------------------------

.recent-works {
	margin-bottom: 120px;

	.title {
		margin-bottom: 40px;
	}

	.btn-wrapper {
		display: flex;
		justify-content: center;
	}
}

// ------------------------------------------
// MY BLOG
// ------------------------------------------

.my-blog {
	margin-bottom: 120px;
}

// ------------------------------------------
// FOOTER
// ------------------------------------------

.footer {
	padding-top: 40px;
	// padding-bottom: 40px;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	background-color: #fff;

	.title {
		margin-bottom: 20px;
	}

	form {
		display: flex;
		align-items: center;
	}

	input[type=email] {
		margin-right: 6px;
	}

	.bottom-footer {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo-footer {
			padding-right: 15px;
		}

		p {
			padding-left: 15px;
		}
	}
	
	
}

// ------------------------------------------
// SCROLL TO TOP
// ------------------------------------------

.scroll-to-top {
	position: fixed;
	bottom: 35px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	font-size: 24px;
	color: #555555;
	z-index: 30;
	cursor: pointer;


}

// ------------------------------------------
// pagginations
// ------------------------------------------

.pagination-wrapper {
	display: flex;
	justify-content: center;

	.pagination {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}