// ------------------------------------------------------------------------------------------------
// HELPER CLASS
// ------------------------------------------------------------------------------------------------

.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hover-scale {
	
	&:hover {
		
		.img-inner {
			transform: scale(1.1);
		}
	}

	.img-wrapper {
		overflow: hidden;
	}

	.img-inner {
		transition: $transition;

		img {
			width: 100%;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// PAGES STYLE
// ------------------------------------------------------------------------------------------------