// ------------------------------------------------------------------------------------------------
// RESPONSIVE
// ------------------------------------------------------------------------------------------------

@media (max-width: 1200px) {
	.spacing-xl-bottom-20 {

		> [class*="col-"] {
			margin-bottom: 20px;
		}
	}

	blockquote {
		padding: 20px 40px 20px 40px;
	}
}

@media (max-width: 1100px) {
	.previous-post,
	.next-post {
		
		h5 {
			display: none;
		}
	}
}


@media (max-width: 992px) {
	.header-col-left {
		padding-right: 15px;
		flex-grow: 1;
	}

	.photo-collections {
		margin-bottom: 100px;
	}

	.my-clients {
		padding-bottom: 50px;
	}

	.brands {
		margin-bottom: 40px;
	}
	
	.recent-works {
		margin-bottom: 100px;
	}

	.my-blog {
		margin-bottom: 100px;
	}

	.blog-quotes {

		.content {

			padding-left: 80px;
		}
	}
}

@media (max-width: 768px) {
	// ------------------------------------------
	// PARAGRAPHS
	// ------------------------------------------

	// p {
	// 	margin-bottom: 15px;

	// 	&:last-child {
	// 		margin-bottom: 0;
	// 	}
	// }

	.burger {
		display: block;
	}

	.language,
	.faq,
	.header-col-center {
		display: none;
	}
	.scroll-to-top {
		bottom: 15px;
		right: 20px;
	}

	.section-title {
	
		&.title-large {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	
	.brands-list {
		justify-content: center;
	}

	blockquote {
	
		p {
			font-size: 18px;
		}
	}
}

@media (max-width: 576px) {

	.broad-limitation,
	.narrow-limitation {
		max-width: 100%;
	}

	.slider {
	
		h2 {
			font-size: 42px;
		}
	}

	.contact-me-wrapper {
			
		.button, .social-links {
			margin-right: 12px;
		}

		.email {
			display: none;
		}
	}

	.bottom-footer {

		p {
			font-size: 11px;
		}
	}

	.scroll-to-top {
		bottom: 15px;
		right: 15px;
	}

	.article-footer {

		.tags-wrapper {
			margin-right: 0;
		}
		
		.social-links {
			display: none;
		}
	}

	.previous-post,
	.next-post {
		
		.img-wrapper {
			max-width: 50px;

			img {
				height: 50px;
			}
		}
	}
	
	blockquote {
		padding: 20px;
	}
}

@media (max-width: 440px) {

	.previous-post,
	.next-post {
		
		.img-wrapper {
			display: none;
		}

		.text-wrapper {
			padding: 10px 20px;
		}
	}
}