<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nava</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header container">
        <div class="row">
            <div class="col-auto"><div class="logo"><img src="img/logo.png" alt="NAVA"></div></div>
            <div class="col">
                <nav>
                    <ul class="menu">
                        <li><a href="#">TOP DESTINATIONS</a></li>
                        <li><a href="#">ADD YOUR BOAT</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-auto">
                <a href="#" class="button">SING UP</a>
            </div>
        </div>
    </header>
    <section class="top-section">
        <div class="top-section-body container">
            <div class="row">
                <div class="col justify-content-center">
                    <h1>RESERVE A BOAT NOW!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center">
                    <p class="subtitle">and set your sails into paradise!</p>
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center">
                    <form action="#" class="search">
                        <input type="text" placeholder="What is your DESTINATION, SAILOR?">
                        <input type="submit" value="FIND A BOAT">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="numbers container">
        <div class="row">
            <div class="col-3 vertical-right-line">
                <h3>2.300</h3>
                <p>Destinations</p>
            </div>
            <div class="col-3 vertical-right-line">
                <h3>2.300</h3>
                <p>Destinations</p>
            </div>
            <div class="col-3 vertical-right-line">
                <h3>2.300</h3>
                <p>Destinations</p>
            </div>
            <div class="col-3">
                <h3>2.300</h3>
                <p>Destinations</p>
            </div>
        </div>
    </section>
    <section class="top-destinations container">
        <div class="row">
            <div class="col">
                <h2>EXPLORE OUR TOP DESTINATIONS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d kopia</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <img src="img/explore1.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="img/explore2.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="img/explore3.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="img/explore4.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="img/explore5.png" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="#" class="button">EXPLORE MORE DESTINATIONS</a>
            </div>
        </div>
    </section>
    <section class="your-boat">
        <div class="your-boat-body container">
            <div class="row">
                <div class="col justify-content-center">
                    <h1>RESERVE A BOAT NOW!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center">
                    <p class="subtitle">and set your sails into paradise!</p>
                </div>
            </div>
            <div class="row">
                <div class="col justify-content-center">
                    <a href="#" class="button">Make money with your boat</a>
                </div>
            </div>
        </div>
    </section>
    <section class="recently-added container">
        <div class="row">
            <div class="col">
                <h2>FEATURED BOATS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d</p>
            </div>
        </div>
        <div class="row">
            <div class='col-12 col-md-6'><img src="img/RECENTLY1.png" alt=""></div>
            <div class='col-12 col-md-6'><img src="img/RECENTLY2.png" alt=""></div>
            <div class='col-12 col-md-6'><img src="img/RECENTLY3.png" alt=""></div>
            <div class='col-12 col-md-6'><img src="img/RECENTLY4.png" alt=""></div>
        </div>
        <div class="row">
            <div class="col justify-content-center">
                <a href="#" class="button">LOAD MORE BOATS</a>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-body container">
            <div class="row">
                <div class="col-2">
                    <h6>TOP LOCATIONS</h6>
                    <ul class="menu-top-locations">
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                    </ul>
                </div>
                <div class="col-2 offset-1">
                    <h6>FEATURED BOATS</h6>
                    <ul class="menu-top-locations">
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                    </ul>
                </div>
                <div class="col-5">
                    <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
                    <form action="#">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-8">
                                <input type="text" placeholder="Your email adress">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="submit" value="SUBSCRIBE">
                            </div>
                        </div>
                    </form>
                    <div class="social-networks">
                        <a href="#"><img src="img/facebook.png" alt="fb"></a>
                        <a href="#"><img src="img/twitter.png" alt="tw"></a>
                        <a href="#"><img src="img/google-plus.png" alt="gl"></a>
                    </div>
                </div>
                <div class="col-2">
                    <h6>CONTACT US</h6>
                    <ul class="menu-top-locations">
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum dolor.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                        <li><a href="#">Lorem, ipsum.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>