<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pluto</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">	<!-- style -->
</head>
<body>
	<header class="primary-header">
		<div class="header-row main-header">
		  <div class="container">
			<div class="header-row-inner">
			  <div class="header-col header-col-left">
				<div class="logo">
					<a href="index.html">
						<img src="img/svg/pluto-logo.svg" alt="Pluto">
					</a>
				</div>
			  </div>
			  <div class="header-col header-col-center">
				<ul class="primary-menu">
					<li><a href="index.html">Home 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="#">Portfolio 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="pages/blog.html">Blog 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="#">Contact Me</a></li>
				</ul>
			  </div>
			  <div class="header-col header-col-right">
					<div class="language">
						Eng
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</div>
					<div class="faq">
						FAQ
					</div>
					<div class="burger">
						<i class="fas fa-bars"></i>
					</div>
			   </div>
			</div>
		  </div>
		</div>
	</header>
	<section class="slider">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 order-2 order-lg-1">
					<div class="author-title author-title-small">
						<div class="img-wrapper"><img src="img/author-title-logo.png" alt=""></div>
						<div class="content-wrapper">
							<div class="name">Victoria Nash</div>
							<div class="profession">- Photographer</div>
						</div>
					</div>
					<div class="broad-limitation">
						<h2>I create by stopping time</h2>
						<p class="subtitle">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large.</p>
					</div>
					<div class="btn-wrapper">
						<a href="#" class="button text-small  btn-bg-color-1">About me</a>
						<a href="#" class="button btn-bg-color-transparent ">My Portfolio</a>
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2">
					<div class="img-wrapper">
						<img src="img/p-gallery-slide.png" alt="slide1">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="photo-collections">
		  <div class="container">
			  <div class="narrow-limitation">
				  <h3>Photo Collections</h3>
				  <p class="subtitle">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live.</p>
			  </div>
		  </div>
		  <div class="container-fluid">
			  <div class="row spacing-col-10">
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-1.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-2.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-3.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-4.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-5.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
				  <div class="col-md-4 col-xl-2">
					<div class="banner">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-category-6.jpg" alt="Travel">
							</div>
						</div>
						<div class="content absolute">
							<div class="number-photo">
								10 Photos
							</div>
							<h4>Travel</h4>
							<a href="#" class="absolute"></a>
						</div>
					</div>
				  </div>
			  </div>
		  </div>
	</section>
	<section class="my-clients">
		  <div class="container">
				<h3>My Clients</h3>
				<p class="subtitle">Far far away, behind the word mountains</p>
			  <div class="row spacing-col-bottom-40">
				  <div class="col-md-5">
						<div class="my-clients-text">
							<h5>Famous people</h5>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large.</p>
						</div>
				  </div>
				  <div class="col-md-5 offset-md-2">
					<div class="my-clients-text">
						<h5>Famous people</h5>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large.</p>
					</div>
			  </div>
			  </div>
			  <div class="contact-me-wrapper">
				<a href="#" class="button button-large btn-bg-color-1">Contact me</a>
				<ul class="social-links">
					<li>
						<a href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-behance"></i>
						</a>
					</li>
				</ul>
				<div class="email">
					name.studio@gmail.com
				</div>
			  </div>
		  </div>
	</section>
	<section class="brands">
		  <div class="container">
			  <ul class="brands-list">
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-1.png" alt="brand-1">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-2.png" alt="brand-2">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-3.png" alt="brand-3">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-4.png" alt="brand-4">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-5.png" alt="brand-5">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-6.png" alt="brand-6">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-7.png" alt="brand-7">
						</a>
					</li>
				  <li>
					  <a href="#">
							<img src="img/brands/p-brand-8.png" alt="brand-8">
						</a>
					</li>
			  </ul>
		  </div>
	</section>
	<section class="recent-works">
		  <div class="container">
				<h3>Recent Works</h3>
				<div class="row spacing-col-10 spacing-lg-bottom-20">
					<div class="col-md-6 col-lg-3">
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-1.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-5.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-2.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-6.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-3.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-7.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-8.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-4.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="banner">
							<div class="img-wrapper">
								<div class="img-inner">
									<img src="img/p-g-image-9.jpg" alt="product">
								</div>
							</div>
							<a href="#" class="absolute"></a>
						</div>
				</div>
				</div>
				<div class="btn-wrapper">
					<a href="#" class="button btn-bg-color-transparent line-color-2">View my entire gallery
						<i class="far fa-arrow-right"></i>
					</a>
				</div>
		  </div>
	</section>
	<section class="my-blog">
		<div class="container">
			<div class="section-title">
				<div class="narrow-limitation">
					<h3>My Blog</h3>
					<p class="subtitle">Far far away, behind the word mountains.</p>
				</div>
				<div class="arrows">
					<div class="arrow-wrapper">
						<i class="fal fa-arrow-left"></i>
					</div>
					<div class="arrow-wrapper">
						<i class="fal fa-arrow-right"></i>
					</div>
				</div>
			</div>
			<div class="row spacing-col-10 bottom-0">
				<div class="col-lg-4">
					<div class="article-preview">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-blog-3.jpg" alt="">
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="content">
							<div class="meta-data">
								<div class="left-col">
									<a href="#" class="button button-extra-small btn-bg-color-white bordered">Backstage</a>
									<div class="date">
										<p>12 Nov 2020</p>
									</div>
								</div>
								<div class="right-col">
									<div class="comments">
										<a href="#"><i class="fal fa-comment"></i></a>
										<span class="count">1</span>
									</div>
									<div class="share">
										<a href="#"><i class="fal fa-share-alt"></i></a>
									</div>
								</div>
							</div>
							<h4>
								<a href="#">
									Behind the scenes from the northern trek
								</a>
							</h4>
							<p>
								Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove...
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="article-preview">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-blog-2.jpg" alt="">
							</div>
							<a href="pages/single-post.html" class="absolute"></a>
						</div>
						<div class="content">
							<div class="meta-data">
								<div class="left-col">
									<a href="#" class="button button-extra-small btn-bg-color-white bordered">Inspiration</a>
									<div class="date">
										<p>06 Nov 2020</p>
									</div>
								</div>
								<div class="right-col">
									<div class="comments">
										<a href="#"><i class="fal fa-comment"></i></a>
										<span class="count">6</span>
									</div>
									<div class="share">
										<a href="#"><i class="fal fa-share-alt"></i></a>
									</div>
								</div>
							</div>
							<h4>
								<a href="#">
									Inspirational photos for next photoshoot
								</a>
							</h4>
							<p>
								Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove...
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="article-preview">
						<div class="img-wrapper">
							<div class="img-inner">
								<img src="img/p-blog-1.jpg" alt="">
							</div>
							<a href="#" class="absolute"></a>
						</div>
						<div class="content">
							<div class="meta-data">
								<div class="left-col">
									<a href="#" class="button button-extra-small btn-bg-color-white bordered">Inspiration</a>
									<div class="date">
										<p>02 Nov 2020</p>
									</div>
								</div>
								<div class="right-col">
									<div class="comments">
										<a href="#"><i class="fal fa-comment"></i></a>
										<span class="count">3</span>
									</div>
									<div class="share">
										<a href="#"><i class="fal fa-share-alt"></i></a>
									</div>
								</div>
							</div>
							<h4>
								<a href="#">
									Vivid examples of great street photography
								</a>
							</h4>
							<p>
								Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove...
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row spacing-col-bottom-40">
				<div class="col-lg-4 align-self-center">
					<h3>Let’s Make Something great</h3>
					<form action="#">
						<input type="email" placeholder="Enter Your Email">
						<input type="submit" value="Contact me" class="button btn-bg-color-1">
					</form>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-4">
					<h6>Studio</h6>
					<ul class="vertical-list">
						<li>
							<a href="#">
								<span>Work</span>
							</a>
						</li>
						<li>
							<a href="pages/blog.html">
								<span>Blog</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>About me</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>FAQs</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2">
					<h6>Social links</h6>
					<ul class="vertical-list with-icons">
						<li>
							<a href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-instagram"></i>
								<span>Instagram</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-youtube"></i>
								<span>Youtube</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-behance"></i>
								<span>Behance</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bottom-line"></div>
		<div class="container">
			<div class="bottom-footer">
				<div class="logo-footer">
					<a href="#">
						<img src="img/svg/pluto-logo-gray.svg" alt="Pluto">
					</a>
				</div>
				<p>Pluto 2021 Created By Name Studio</p>
			</div>
		</div>
	</footer>
	<div class="scroll-to-top">
		<i class="fal fa-angle-up"></i>
	</div>
</body>
</html>