<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pluto</title>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Red+Hat+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">	<!-- style -->
</head>
<body>
	<header class="primary-header">
		<div class="header-row main-header">
		  <div class="container">
			<div class="header-row-inner">
			  <div class="header-col header-col-left">
				<div class="logo">
					<a href="#">
						<img src="img/svg/pluto-logo.svg" alt="Pluto">
					</a>
				</div>
			  </div>
			  <div class="header-col header-col-center">
				<ul class="primary-menu">
					<li><a href="#">Home 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="#">Portfolio 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="#">Blog 
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="#">Contact Me</a></li>
				</ul>
			  </div>
			  <div class="header-col header-col-right">
					<div class="language">
						Eng
						<span class="arrow-down">
							<i class="fal fa-angle-down"></i>
						</span>
					</div>
					<div class="faq">
						FAQ
					</div>
					<div class="burger">
						<i class="fas fa-bars"></i>
					</div>
			   </div>
			</div>
		  </div>
		</div>
	  </header>
</body>
</html>