// ------------------------------------------------------------------------------------------------
// MODULES
// ------------------------------------------------------------------------------------------------


// ------------------------------------------
// TITLE
// ------------------------------------------

.title {
	
	h1, h2, h3, h4, h5, h6{
		margin-bottom: 0;
	}

	&.title-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.top-subtitle {
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		font-size: 14px;
	}
}

// ------------------------------------------
// BUTTONS
// ------------------------------------------

.button {
	display: inline-block;
	border-radius: 40px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	padding: 17px 27px;
	background-color: #16D428;
	z-index: 1;
	cursor: pointer;

	&:hover{
		background-color: #09DF1E;
	}
	
	&.button-extra-large {
		min-width: 293px;
		text-align: center;
	}

	&.button-large {
		padding: 22px 35px;
	}

	&.button-small {
		padding: 13px 29px;
	}

	&.button-bordered {
		padding: 7px 17px;
		background-color: transparent;
		color: #606668;
		border: 2px solid #989FA0;
		font-size: 12px;

		&:hover,
		&.active {
			border-color: #FFAC56;
		}
	}
}


// ------------------------------------------
// INFO BOX
// ------------------------------------------

.info-box {

	.img-wrapper {
		margin-bottom: 16px;
		min-width: 73px;
		min-height: 73px;
	}



	.top-subtitle {
		margin-bottom: 4px;
		color: #16D428;
		font-size: 20px;
	}

	p {
		line-height: 1.8;
	}

	a {

		&:hover {
			color: #16d428;
		}
	}

	&.info-box-horizontal {
		display: flex;
		align-items: center;
	
		.img-wrapper {
			margin-bottom: 0;
			margin-right: 26px;
		}
		
		h5 {
			margin-bottom: 5px;
		}
	}

	&.info-box-list {
		.img-wrapper {
			min-width: 40px;
			min-height: 40px;
			margin-bottom: 32px;
		}
		.title {
			margin-bottom: 19px;
		}
	}

	&.info-box-bordered {
		padding: 27px 35px;
		border: 1px solid #E1EAEC;
	}

	&.info-box-img-circle {

		&:hover {

			.img-wrapper {
				box-shadow: 0 0 65px rgba(210, 222, 225, 0.44);
			}
		}

		.img-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 53px;
			min-width: 142px;
			height: 142px;
			border-radius: 50%;
			border-style: solid;
			border-width: 1px;
			border-color: #d6e1e3;
			transition: $transition;
		}

		.text {
			max-width: 332px;
		}
	}
}

// ------------------------------------------
// BANNERS
// ------------------------------------------

.banner {
	position: relative;

	&::before {
		content: '';  position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		border: 28px solid transparent;
		border-bottom: 28px solid #03B6E7;
		border-left: 28px solid #03B6E7;
		transition: border-color .3s ease;

	}

	&::after {
		content: "+";
		position: absolute;
		bottom: 0;
		left: 8px;
		z-index: 1;
		color: #FFF;
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
	}

	.img-wrapper {

		img {
			width: 100%;
		}
	}

	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		visibility: hidden;
		padding: 17px;
		text-align: center;
		line-height: 1.6;
		opacity: 0;
		cursor: pointer;
		transition: $transition;

		@include absolute;

		h5 {
			margin-bottom: 0;
		}
	}

	.category {
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 7px 25px;
		border: 2px solid #FFAC56;
		border-radius: 40px;
		text-transform: uppercase;
		letter-spacing: -.4px;
		font-size: 12px;
	}

	a {
		z-index: 1;

		@include absolute;
	}

	&:hover {

		.content {
			visibility: visible;
			background-color: #FFAC56;
			opacity: 1;
		}

		&::before {
			border-bottom-color: #F6A149;
			border-left-color: #F6A149;;
		}

	}
}

// ------------------------------------------
// FORM
// ------------------------------------------

input[type=text] {
	width: 100%;
	height: 52px;
	border: none;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	color: #000;

	&::placeholder {
		color: #000;
	}
}
input[type=submit] {
	border: none;
}

select {
    height: 40px;
    min-width: 240px;
    text-transform: uppercase;
}

.subscribe {
	display: flex;

	input[type=text] {
		border-radius: 40px;
		background-color: rgba(0,0,0,.1);
		padding-left: 34px;
		padding-right: 70px;
		border: none;

		&::placeholder {
			color: inherit;
		}
	}
	input[type=submit] {
		margin-left: -60px;
	}
}

// ------------------------------------------
// LISTS
// ------------------------------------------

.list {
	
	li {
		font-size: 13px;
		text-transform: uppercase;

		&:hover {

			a {
				color: #FFAC56;
			}
		}

		a {
			padding-top: 6px;
			padding-bottom: 6px;
			display: block;
		}
	}
}

// ------------------------------------------
// BADGE SECTION
// ------------------------------------------


.badge-section {
	box-shadow: 0px 9px 16px 0px rgba(154, 154, 154, .3);
	min-width: 237px;
	min-height: 280px;
	background-color: #03B6E7;
	border: 6px solid #fff;
	text-align: center;
	padding: 18px;

	.bordered {
		border: 1px solid #fff;
	}
	
	.badge_icon {
		justify-content: center;
		margin-bottom: 21px;
	}
	
	.text {
		line-height: 1.2;
		margin-bottom: 19px;
	
		span {
			font-size: 75px;
		}
	
		.subtitle {
			font-size: 10px;
			text-transform: uppercase;
		}
	}

	&.badge-section-large {
		
		.bordered {
			margin-bottom: 58px;
		}
	}
}