// ------------------------------------------------------------------------------------------------
// PRIMARY PAGE STYLE
// ------------------------------------------------------------------------------------------------

.container {
	max-width: 1170px;
}

// ------------------------------------------
// HEADER
// ------------------------------------------

//**** TOP HEADER ****//

.header-top {
	background-color: #262829;

	.header-row-inner {
		height: 40px;
	}
}

.header-main {

	.header-row-inner {
		height: 101px;
	}
}

.header-row-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-col {
	display: flex;
	flex-grow: 1;
}

.header-col-left {
	padding-right: 15px;
}

.header-col-right {
	justify-content: flex-end;
	padding-left: 15px;
}

.contacts {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 21px;
	height: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;

	span {
		margin-right: 5px;
		color: #FFF;
	}

	&:first-child{
		border-right: 1px solid #505253;
		padding-right: 21px;
	}
}

//**** MAIN HEADER ****//

.primary-logo-wrapper {
	flex-shrink: 0;
}

.primary-menu {
	display: flex;
	margin-right: -18px;

	.active {
		color: #FFAC56;
	}

	li {
		color: #4E4E4E;
		text-transform: uppercase;
		font-size: 14px;

		&:hover {

			a {
				color: #FFAC56;
			}
		}

		a {
			padding: 18px;
		}

	}
}

.burger {
	display: none;
	padding: 18px;
	font-size: 30px;
	line-height: 1;
    margin-right: -18px;
}

// ------------------------------------------
// SLIDER
// ------------------------------------------

.slider {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 95px;
	min-height: 700px;
	background: url("../img/slider1.jpg") center /cover no-repeat;

	.content {
		h1,h2,h3,h4,h5,h6 {
			font-weight: 400;
		}
	}

	.prew,
	.next {
		position: absolute;
		top: calc(50% - 53px);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 46px;
		height: 106px;
		background-color: #262829;
		color: #FFF;
		font-size: 30px;
		cursor: pointer;
		transition: $transition;

		&:hover {
			background-color: #404446;
		}

	}

	.prew {
		left: 0;
	}

	.next {
		right: 0;
	}
}

.slider-inner {
	max-width: 458px;
}

.slider-title {
    padding: 29px 65px 25px 40px;
	background-color: #FFAC56;
	letter-spacing: -.6px;
	font-family: "Lato", sans-serif;
    margin-bottom: 0;

	h3 {
		font-weight: 300;
	}
}

.header-box-wrapper {
	border-bottom: 1px solid #00A6D3;

	&:nth-child(even){
		border-right: 1px solid #00A6D3;
	}

	&:nth-last-child(1),
	&:nth-last-child(2) {
		border-bottom: none;
	}
}

.header-box {
	position: relative;
	padding: 28px 23px 42px 40px;
	min-height: 100%;
	background-color: #03B6E7;
	transition: all .4s ease;
	cursor: pointer;

	.absolute {
		@include absolute;
	}	

	&:hover {
		background-color: #00A6D3;

		.circle {
			border-color: #FFF;

			i {
				color: #FFF;
			}
		}

		.btn-wrapper {
			position: relative;
			z-index: 1;
		}

	}


	.text-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.text {
		flex-grow: 1;
	}

	.img-wrapper{
		margin-bottom: 9px;
	}

	h6 {
		margin-bottom: 0;
	}

	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		border: 1px solid rgba(255, 255, 255, .6);
		border-radius: 50%;

		i {
			color: rgba(255, 255, 255, .6);
		}
	}
}

// ------------------------------------------
// ABOUT US
// ------------------------------------------

.about-us {

	h2 {
		margin-bottom: 21px;
		letter-spacing: -2.2px;

		.top-subtitle {
			letter-spacing: -.5px;
		}
	}

	p {
		margin-bottom: 43px;
		line-height: 1.8;
	}

	.content {
		padding-right: 19px;
		text-align: right;
	}

	.img-wrapper {
		img {
			width: 100%;
		}
	}
}

.badge-section-wrapper {
	display: flex;
	justify-content: center;
	margin-top: -20.04%;
}

// ------------------------------------------
// OUR STEPS
// ------------------------------------------

.our-steps {
	margin-top: -94px;
	margin-bottom: 88px;
	padding-top: 94px;
    padding-bottom: 82px;
	background-color: #E7EFF1;

	h3 {
		margin-bottom: 7px;
	}

	.title {
		margin-bottom: 16px;
	}
}


// ------------------------------------------
// Projects
// ------------------------------------------	


.projects {
	margin-bottom: 94px;

	h3 {
		margin-bottom: 25px;
	}

	.container {
		
		> .row {
			margin-bottom: 64px;
		}
	}
}

.btn-wrapper {
	text-align: center;
}

.project-gap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// ------------------------------------------
// TESTIMONIALS
// ------------------------------------------

.testimonials {
	background-color: #03B6E7;
	padding-top: 94px;
	padding-bottom: 82px;

	.title:first-child {
		margin-bottom: 60px;
	}
}

.quote {
	margin-bottom: 58px;

	p {
		margin-bottom: 35px;
	}

	.bottom-line {
		width: 17px;
		height: 2px;
		background-color: #fff;	
	}
}

.clients {
	position: relative;
	display: flex;
	align-items: center;
	opacity: .6;
	transition: $transition;
	cursor: pointer;

	a {
		@include absolute;
	}
	
	&:hover,
	&.active {
		opacity: 1;
	}

	.img-wrapper {
		margin-right: 28px;
	}

		
	.title {
		
		.subtitle {
			margin-bottom: 12px;
		}
	}
}
.carusel {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 100%;
	cursor: pointer;

	i {
		transition: $transition;

		&:not(:last-child) {
			margin-right: 6px;
		}

		&:hover {
			color: #16D428;
		}
	}
}


// ------------------------------------------
// OUR BLOG
// ------------------------------------------

.our-blog {
	margin-bottom: 94px;
	background-color: #E7EFF1;
}

.col-bg {
	min-height: 747px;
	background: url("../img/blog-foto.png") left / cover no-repeat;
}


.col-content {
	display: flex;
	justify-content: flex-end;

    .inner {
		max-width: 556px;
		padding-top: 30px;
		padding-bottom: 30px;
    }
}

.title-and-tabs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;

	.title {
		margin-right: 69px;
		margin-bottom: 10px;
	}
	
	.tabs {
		display: flex;
		align-items: center;
		overflow-y: hidden;

		li {
			flex-shrink: 0;

			&:not(:last-child) {
				margin-right: 22px;
			}

			&:hover,
			&.active {
				
				a {
					border-color: #FFAC56;
				}
			}
		}
	}
}

.article-preview {
	
	&:not(:last-child) {
		margin-bottom: 70px;
	}

	a {

		&:hover {
			color: #16d428;
		}
	}

	.title {
		margin-bottom: 17px;
	}

	.top-subtitle {
		font-family: 'Domine', serif;
		text-transform: initial;
		color: #343a3b;
		font-size: 15px;
		margin-bottom: 5px;

		span {
			color: #16d428;
		}

	}
}

// ------------------------------------------
// CONTACT US
// ------------------------------------------

.contact-us {
	margin-bottom: 94px;

	.title {
		margin-bottom: 15px;
	}
}

// ------------------------------------------
// FOOTER
// ------------------------------------------

.footer {
	background-color: #262829;
    padding-top: 89px;
    padding-bottom: 36px;

	.title {
		margin-bottom: 22px;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 38px;
			line-height: 1.6;
		}
	}
}

.footer-inner {
    padding-bottom: 83px;
}

.news-letter-wrapper {
	max-width: 515px;
}

.copyright-inner {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 18px;
    padding-bottom: 18px;
}


// ------------------------------------------------------------------------------------------------
// 404
// ------------------------------------------------------------------------------------------------

.oops-inner {
	border-top: 1px solid #E8F0F2;
	padding-top: 76px;
	padding-bottom: 95px;
	text-align: center;

	.img-wrapper {
		margin-bottom: 45px;
	}
}

// ------------------------------------------------------------------------------------------------
// SERVICE
// ------------------------------------------------------------------------------------------------

// ------------------------------------------
// PRIMARY TITLE
// ------------------------------------------

.primary-title{
	background: url("../img/primary-title-bg.jpg") center / cover no-repeat;
	font-family: "Lato", sans-serif;
	color: #1c1c1c;
	min-height: 292px;
	display: flex;
	align-items: center;
	margin-bottom: 94px;

	.inner {
		display: flex;

		.circle {
			width: 54px;
			height: 54px;
			border-radius: 50%;
			background-color: #FFAC55;
		}
		
		h1	{
			margin-bottom: 0;
			margin-left: -27px;
			font-weight: 300;
			color: #1c1c1c;
		}
	}
}

// ------------------------------------------
// SERVICE
// ------------------------------------------

.service-header {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 47px;

	.title {
		margin-right: 30px;
	}

}

.services {
	margin-bottom: 94px;

	.row {

		> div {
			margin-bottom: 72px;
		}
	}
}

.section-footer {
	text-align: center;
}

// ------------------------------------------
// FEATURED PROJECTS
// ------------------------------------------

.featured-projects {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: #E7EFF1;

	.title {
		margin-bottom: 25PX;
	}

	.row {
		margin-bottom: 45px;
	}
}

// ------------------------------------------
// INDUSTRIES
// ------------------------------------------

.industries {
	margin-bottom: 94px;

	.title {
		margin-bottom: 48px;
	}

	.container {

		> .row {
			margin-bottom: 95px;
		}
	}
}


//----------------------------
.spacing-30 {
	margin-bottom: -30px;

	> div[class*="col-"] {
		margin-bottom: 30px;
	}
}

.left-text {
	max-width: 500px;
}

.right-text {
    display: flex;
    justify-content: space-between;

	p {
		max-width: 278px;
		padding-right: 15px;
	}

	.badge-section-wrapper {
		margin-top: -15%;
	}
}

.core {
	margin-top: -94px;
	margin-bottom: 88px;
	padding-top: 94px;
    padding-bottom: 82px;
	background-color: #E7EFF1;
}