// ------------------------------------------------------------------------------------------------
// PRIMARY PAGE STYLE
// ------------------------------------------------------------------------------------------------

.container {
	max-width: 1170px;
}

// ------------------------------------------
// HEADER
// ------------------------------------------

//**** TOP HEADER ****//

.header-top {
	background-color: #262829;
	
	.header-row-inner {
		height: 40px;
	}
}

.header-main {
  
	.header-row-inner {
		height: 101px;
	}
}

.header-row-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-col {
	display: flex;
	flex-grow: 1;
}

.header-col-left {
	padding-right: 15px;
}

.header-col-right {
	justify-content: flex-end;
	padding-left: 15px;
}

.contacts {
	position: relative;
	display: flex;
	align-items: center;
	height: 40px;
	font-size: 12px;
    padding: 0 21px;
    letter-spacing: 1px;
	text-transform: uppercase;

	span {
		color: #fff;
	}

	&:not(:last-child){
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			border-right: 1px solid #505253;
		}
	}

	&:last-child {
		padding-right: 0;
	}
}

//**** MAIN HEADER ****//

.primary-logo-wrapper {
	flex-shrink: 0;
}

.primary-menu {
	display: flex;
	margin-right: -18px;
	
	li {
		font-size: 14px;
		color: #4e4e4e;
		text-transform: uppercase;

		&:hover {
			
			a {
				color: #FFAC56;
			}
		}
		
		a {
			padding: 18px;
		}

	}
}

.burger {
	display: none;
	padding: 18px;
	font-size: 30px;
	line-height: 1;
}

// ------------------------------------------
// SLIDER
// ------------------------------------------

.slider {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 700px;
	background: url("../img/slider1.jpg") center /cover no-repeat;


	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: calc(50% - 53px);
		width: 46px;
		height: 106px;
		background: #262829 url("../img/arrow-left.png")center no-repeat;
		cursor: pointer;
		z-index: 3;
	}

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: calc(50% - 53px);
		width: 46px;
		height: 106px;
		background: #262829 url("../img/arrow-right.png")center no-repeat;
		cursor: pointer;
		z-index: 3;
	}
}

.slider-inner {
	max-width: 50%;
    min-width: 300px;
}

.slider-title-bg {
	background-color: #FFAC56;
}

.slider-title {
	display: inline-flex;
	flex-direction: column;
	padding: 35px 57px 39px 35px;
	margin-bottom: 0;
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.header-box {
	position: relative;
	background-color: #03B6E7;
	border-bottom: 1px solid #00A6D3;
	border-left: 1px solid #00A6D3;
	transition: $transition;
	padding: 33px 28px 33px 40px;

	>a {
		@include absolute;
	}

	&:last-child {
		padding: 0;
	}

	&:last-child{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		background-color: #00A6D3;

		.circle {
			border-color: #fff;

			i {
				color: #fff;
			}
		}

		.btn-wrapper {
			z-index: 1;
		}
	}

	.text-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.img-wrapper{
		margin-bottom: 15px;
	}

	h6 {
		margin-bottom: 0;
	}

	.circle {
		width: 26px;
		height: 26px;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

