// ------------------------------------------------------------------------------------------------
// RESPONSIVE
// ------------------------------------------------------------------------------------------------

@media (max-width: 1024px) {
	
	.burger {
		display: flex;
	}
	.primary-menu {
		display: none;
	}
}


@media (max-width: 993px){
	.slider {

		.prew, .next {
			display: none;
		}
	}
	.slider-inner {
		max-width: 100%;
	}
}

@media (max-width: 768px){
	// .slider-title,
	// .header-box {
	// 	padding: 15px;
	// }
	.slider-inner {
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	
	.header-top {
		display: none;
	}
}