// ------------------------------------------------------------------------------------------------
// RESPONSIVE
// ------------------------------------------------------------------------------------------------
@media (max-width: 1200px) {
	.info-box {

		&.info-box-horizontal {
			
			padding: 20px;

			.img-wrapper {
				margin-right: 20px;
			}
		}
	}
}

@media (max-width: 1100px) {
	.info-box {

		&.info-box-horizontal {
			
			padding: 10px;

			.img-wrapper {
				margin-right: 15px;
			}
		}
	}
}

@media (max-width: 1024px) {
	p {
		font-size: 14px;
	}

	.burger {
		display: flex;
	}

	.primary-menu {
		display: none;
	}

	.about-us {
		
		h2 {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 24px;
		}
	}


}


@media (max-width: 991px){

	p {
		font-size: 13px;
	}

		
	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 26px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 14px;
	}

	h6 {
		font-size: 14px;
	}

	.slider {

		.prew, .next {
			display: none;
		}
	}
	.slider-inner {
		max-width: 100%;
	}

	.slider-title {
		padding: 25px 23px 25px 40px;
	}

	.header-box {
		padding: 20px 23px 20px 40px;
	}

	.top-subtitle {
		font-size: 11px;
	}

	.header-box-wrapper {

		&:last-child {
			
			.header-box {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}

	.col-content {

		.inner {
			max-width: 100%;
			margin-left: 0;
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.title-and-tabs .title {
		margin-right: 22px;
	}

	.article-preview:not(:last-child) {
		margin-bottom: 40px;
	}

	.col-content {
		justify-content: stretch;
	}

	.info-box {

		&.info-box-horizontal {
			
			margin-bottom: 10px;
		}
	}

	.footer {
		
		.title {
			margin-bottom: 20px;
		}
	}

	.footer-inner {

		.row {

			> div {
				margin-bottom: 40px;
			}
		}
	}

	.news-letter-wrapper {
		max-width: 100%;
	}
}

@media (max-width: 768px){

	.slider-inner {
		max-width: 100%;
	}

	.slider {
		margin-bottom: 50px;
	}

	.header-top {
		display: none;
	}

	.projects {
		margin-bottom: 50px;
	}

	.testimonials {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.testimonials {

		.title {

			&:first-child {
				margin-bottom: 35px;
			}
		}

		.row {

			&:first-child {
				margin-bottom: 35px;
			}
		}

		.quotes-helper {
			margin-bottom: 15px;
		}

		.quote {
			margin-bottom: 0;

			p {
				margin-bottom: 15px;
			}
		}
	}

	.our-blog {
		margin-bottom: 50px;
	}

	.contact-us {
		margin-bottom: 50px;
	}

	.footer {
		text-align: center;
	}
	.footer {
		padding-top: 50px;
		// padding-bottom: 50px;

		.footer-inner {
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 767px){
	.about-us .content {
		text-align: center;

	}

	.our-steps {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 0;
		margin-bottom: 50px;

		h3 {
			margin-bottom: 30px;
		}

		.info-box-wrapper:not(:last-child) {
			margin-bottom: 25px;
		}

		.info-box {

			.img-wrapper-1 {
				margin-bottom: 15px;
			}

			h5 {
				margin-bottom: 10px;
			}
		}
	}
	.badge-section-wrapper {
		margin-bottom: 30px;
	}
	
	section.about-us {
		margin-bottom: 50px;
	}

}