<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper-bg-grey">
        <div class="container top-bar">
            <p><i class="fas fa-mobile-alt"></i> 6337 3128</p>
            <p><i class="fas fa-envelope"></i> info@business.co</p>
            <a href="#"  class="facebook"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
    <header class="header container">
        <img src="img/Logo.png" alt="Business" class="logo">
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-items"><a href="#" class="menu-links">Home</a></li>
                <li class="menu-items"><a href="#" class="menu-links">About Us</a></li>
                <li class="menu-items"><a href="#" class="menu-links">Our Approuch</a></li>
                <li class="menu-items"><a href="#" class="menu-links">Our Work</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <a href="#" class="button primary_line-button">Free Consultation</a>
    </header>
    <section class="first-screen">
        <div class="first-screen-content">  
            
            <div class="row">
                <div class="col-12">
                    <h1 class="color-white">We Providing</h1>
                    <p class="subtitle color-white"> Social Media marketing for businesses</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#" class="button first_screen-content-button">FREE CONSULTATION</a>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
                <p class="subtitle">We are added our major Services</p>
            </div>    
        </div>
        <div class="row">
            <div class="col-4">
                <div class="about-us-card">
                    <img src="img/Layer-33.png" alt="" class="about-us-card-img">
                    <h5>Facebook Marketing</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laudantium modi est officiis. Culpa, cumque?</p>
                </div>
            </div>
            <div class="col-4">
                <div class="about-us-card">
                    <img src="img/Layer-36.png" alt="" class="about-us-card-img">
                    <h5>landing pages Creation</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laudantium modi est officiis. Culpa, cumque?</p>
                </div>
            </div>
            <div class="col-4">
                <div class="about-us-card">
                    <img src="img/Layer-37.png" alt="" class="about-us-card-img">
                    <h5>Ads management</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae laudantium modi est officiis. Culpa, cumque?</p>
                </div>
            </div>
        </div>
    </section>
    <div class="wrapper-bg-grey">
        <section class="our-approch container">
            <div class="row">
                <div class="col-12">
                    <h2>Our Approch</h2>
                    <p class="subtitle">Check Our approches step by step ( how we do it )</p>
                </div>
            </div>
            <div class="step-wrapper">
                <div class="step row">
                    
                    <div class="step-img1 col-4">
                    </div>
                    <div class="step-text col-8">
                        <h6>Step 1 : Heading Here</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ex eligendi fugiat in pariatur aliquam fugit cupiditate, sequi culpa harum ullam voluptatem itaque mollitia iusto, optio, illum sunt ipsum deleniti.</p>
                    </div>
                </div>
                <div class="step row">
                    <div class="step-text text-right col-8">
                        <h6>Step 2 : Heading Here</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ex eligendi fugiat in pariatur aliquam fugit cupiditate, sequi culpa harum ullam voluptatem itaque mollitia iusto, optio, illum sunt ipsum deleniti.</p>
                    </div>
                    <div class="step-img2 col-4">
                    </div>
                </div>
                <div class="step row">
                    <div class="step-img3 col-4">
                    </div>
                    <div class="step-text col-8">
                        <h6>Step 3 : Heading Here</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ex eligendi fugiat in pariatur aliquam fugit cupiditate, sequi culpa harum ullam voluptatem itaque mollitia iusto, optio, illum sunt ipsum deleniti.</p>
                    </div>
                </div>
                <div class="step row">
                    <div class="step-text text-right col-8">
                        <h6>Step 4 : Heading Here</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ex eligendi fugiat in pariatur aliquam fugit cupiditate, sequi culpa harum ullam voluptatem itaque mollitia iusto, optio, illum sunt ipsum deleniti.</p>
                    </div>
                    <div class="step-img4 col-4">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper-bg-red">
        <section class="our-work container">
        <div class="row">
            <div class="col-12">
                <h2 class="color-white">Our Work</h2>
                <p class="subtitle color-white">We are added our featured works below</p>
            </div>
        </div>
            <div class="row">
                <div class="our-work-items col-3">
                    <i class="fas fa-paper-plane"></i>
                    <h4>Project Name </h4>
                    <p class="fs-16">Facebook marketing</p>
                </div>
                <div class="col-3 our-img img1">
                </div>
                <div class="our-work-items col-3">
                    <i class="fas fa-paper-plane"></i>
                    <h4>Project Name </h4>
                    <p class="fs-16">Landing page</p>
                </div>
                <div class="col-3 our-img img2">
                </div>
                <div class="our-work-items col-3">
                    <i class="fas fa-paper-plane"></i>
                    <h4>Project Name </h4>
                    <p class="fs-16">Landing page</p>
                </div>
                <div class="col-3 our-img img3">
                </div>
                <div class="our-work-items col-3">
                    <i class="fas fa-paper-plane"></i>
                    <h4>Project Name </h4>
                    <p class="fs-16">Facebook marketing</p>
                </div>
                <div class="col-3 our-img img4">
                </div>
                
            </div>
        </section>
    </div>
    
    <div class="wrapper-bg-blue">
        <section class="form container">
            <div class="row">
                <div class="col-12">
                    <h2 class="color-white">Get Your Free Facebook Analysis Now</h2>
                    <p class="subtitle color-white mg-bt">Enter your details below</p>
                </div>
            </div>
            <img src="img/Shape-12.png" alt="">
            <div class="row">
                <div class="form-window col-8">
                    <p class="form-text">Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more</p>
                    <form action="#" method="post" class="form-form">
                        <input placeholder="Your Name" type="text" class="form-input" required="">
                        <input placeholder="Contact Number" type="text" class="form-input" required="">
                        <input placeholder="Company Name" type="text" class="form-input" required="">
                        <input type="button" value="SUBMIT NOW" class="button form-button">
                    </form>
                </div>
            </div>
        </section>
    </div>


</body>
</html>