<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mache</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="container">
        <div class="logo">
            <img src="img/logo.png" alt="Mache">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="main">
        <div class="container">
            <div class="main-inner">
                <h1><span>Mache</span> FREE psd Template</h1>
                <p>
                    Elegant and clean PSD template, which you can download and use for free! You can easily modify the design to make it your own and help you get your project running faster.
                </p>
                <a href="#" class="button">Show More</a>
            </div>
        </div>
    </section>
    <section class="about container-fluid">
        <div class="row">
            <div class="about-content col-6">
                <h2>
                    Powerfull PSD template available  for free!
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
                </p>
                <a href="#" class="about-link">See the Video</a>
            </div>
            <div class="about-img col-6">
            </div>
        </div>
    </section>
    <section class="our-services">
        <div class="container">
            <h2>Our Services</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="row">
                <div class="col-3">
                    <div class="our-inner">
                        <div class="our-services-items">
                            <div class="our-services-img">
                                <img src="img/our-services1.png" alt="" class="ico">
                            </div>
                        </div>
                        <p class="our-services-title">FULLY EDITABLE</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="our-inner">
                        <div class="our-services-items">
                            <div class="our-services-img">
                                <img src="img/our-services2.png" alt="" class="ico">
                            </div>
                        </div>
                        <p class="our-services-title">FREE DOWNLOAD</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="our-inner">
                        <div class="our-services-items">
                            <div class="our-services-img">
                                <img src="img/our-services3.png" alt="" class="ico">
                            </div>
                        </div>
                        <p class="our-services-title">MODERN DESIGN</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="our-inner">
                        <div class="our-services-items">
                            <div class="our-services-img">
                                <img src="img/our-services4.png" alt="" class="ico">
                            </div>
                        </div>
                        <p class="our-services-title">100% RESPONSIVE</p>
                    </div>    
                </div>
            </div>
        </div>
    </section>
    <section class="quotes">
        <p class="quotes-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, std do eiusmod tempor 
incididunt ut labore tet dolore magna aliqua.  Ut enim ad minim veniam, 
quis nostrud exercitation ullamco laboris nisi ut aliquip ex. 
        </p>
    </section>
    <section class="prices">
        <div class="container">
            <h2>Check Our Prices</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="row">
                <div class="col-3">
                    <div class="prices-cards">
                        <div class="cards-title">
                            <p><span>$</span>19</p>
                            <p>per month</p>
                        </div>
                        <div class="cards-content">
                            <a href="#" class="cards-button button">STANDART</a>

                            <ul>
                                <li>5 Projects</li>
                                <li>200 MB Storage</li>
                                <li>Notification settings</li>
                                <li>Password prote</li>
                            </ul>
                            <a href="#" class="button">BUY NOW</a>
                        </div>
                    </div>
                </div>   
                <div class="col-3">
                    <div class="prices-cards">
                        <div class="cards-title">
                            <p><span>$</span>19</p>
                            <p>per month</p>
                        </div>
                        <div class="cards-content">
                            <a href="#" class="cards-button button">STANDART</a>

                            <ul>
                                <li>5 Projects</li>
                                <li>200 MB Storage</li>
                                <li>Notification settings</li>
                                <li>Password prote</li>
                            </ul>
                            <a href="#" class="button">BUY NOW</a>
                        </div>
                    </div>
                </div>  
                <div class="col-3">
                    <div class="prices-cards">
                        <div class="cards-title">
                            <p><span>$</span>19</p>
                            <p>per month</p>
                        </div>
                        <div class="cards-content">
                            <a href="#" class="cards-button button">STANDART</a>

                            <ul>
                                <li>5 Projects</li>
                                <li>200 MB Storage</li>
                                <li>Notification settings</li>
                                <li>Password prote</li>
                            </ul>
                            <a href="#" class="button">BUY NOW</a>
                        </div>
                    </div>
                </div>  
                <div class="col-3">
                    <div class="prices-cards">
                        <div class="cards-title">
                            <p><span>$</span>19</p>
                            <p>per month</p>
                        </div>
                        <div class="cards-content">
                            <a href="#" class="cards-button button">STANDART</a>

                            <ul>
                                <li>5 Projects</li>
                                <li>200 MB Storage</li>
                                <li>Notification settings</li>
                                <li>Password prote</li>
                            </ul>
                            <a href="#" class="button">BUY NOW</a>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section class="aditional">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info1.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info2.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info3.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info4.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info5.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="aditional-cards">
                        <img src="img/aditional-info6.png" alt="">
                        <div class="aditional-text">
                            <h6>HIGH RESOLUTION</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque facere odio at optio eveniet mollitia sint magni explicabo eum quo!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="join-us">
        <div class="container">
            <div class="join-us-inner">
                <h2>Became A Part Of <span>Mache</span> Community Today</h2>
                <a href="#" class="join-us-button button">JOIN US</a>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <h2>Check Our Prices</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="row">
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news1.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news2.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news3.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news4.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news5.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="news-cards">
                        <div class="news-images">
                            <img src="img/news6.png" alt="">
                        </div>
                        <div class="news-cards-text">
                            <h6>LOREM IPSUMa DOLOR SIT</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam veniam error mollitia porro minus. Nulla?</p>
                        </div>
                    </div>
                </div>

            </div>
            <a href="#" class="news-link">SHOW MORE</a>
        </div>
    </section>

    <section class="additional-2">
        <h2>Mache Free PSD Template</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam illum obcaecati recusandae assumenda veniam expedita esse molestias blanditiis, atque soluta odio reprehenderit earum eos amet neque aspernatur labore libero voluptate?</p>
        <a href="#" class="button">SHOW MORE</a>
    </section>
    
    <section class="download-now container-fluid">
        <div class="row">
            <div class="download-now-img col-6">
            </div>
            <div class="download-now-content col-6">
                <h2>
                    Powerfull PSD template available  for free!
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa 
                </p>
                <a href="#" class="button">Download Now</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-inner">
                <p>© 2015 COPYRIGHT MACHE TEMPLATE</p>
                <div class="direct-by">
                    <p>DESIGNED BY</p>
                    <img src="img/logo-small-white.png" alt="" class="small-logo">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>