<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&display=swap" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div class="content">
				<div class="logo"><img src="img/Logo.png" alt="MarketSupply"></div>
				<div class="inner">
					<div class="top-line">
						<ul class="top-menu">
							<li><a href="#">My account</a></li>
							<li><a href="#">Wishlist</a></li>
							<li><a href="#">My Cart</a></li>
							<li><a href="#">Checkout</a></li>
							<li><a href="#">Login</a></li>
						</ul>
						
						<div class="burger">
							<div></div>
							<div></div>
							<div></div>
							<a href="#"></a>
						</div>
					</div>
					<div class="secont-line">
						<form action="#">
							<input type="text" placeholder="Search here"> 
							<input type="submit" value="">
						</form>
						<div class="cart-wrapper">
							<div class="img-wrapper"><img src="img/.png" alt="cart"></div>
							<div class="cart-text">Total <span>$600.00</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="first-screen">
		<div class="navigation-bar">
			<div class="container">
				<div class="row">
					<div class="col-3">
						<div class="categories-wrapper">
							<div class="img-wrapper">
								<img src="img/.png" alt="">
								<a href="#">Categories</a>
							</div>
						</div>
					</div>
					<div class="col-9">
						<ul class="menu">
							<li><a href="#">Clothing</a></li>
							<li><a href="#">Electronics hot <i class="fas fa-angle-down"></i></a>
								<ul class="sub-menu">
									<li><a href="#">Menu item 1</a></li>
									<li><a href="#">Menu item 2</a></li>
									<li><a href="#">Menu item 3 <i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Sub-menu item 1</a></li>
											<li><a href="#">Sub-menu item 2</a></li>
										</ul>
									</li>
									<li><a href="#">Menu item 4</a></li>
									<li><a href="#">Menu item 5</a></li>
								</ul>
							</li>
							<li><a href="#">Health & Beauty <i class="fas fa-angle-down"></i></a>
								<div class="great-menu-wrap">
									<ul class="great-menu">
										<li><a href="#">Menu item 1</a></li>
										<li><a href="#">Menu item 2</a></li>
										<li><a href="#">Menu item 3</a></li>
										<li><a href="#">Menu item 4</a></li>
										<li><a href="#">Menu item 5</a></li>
									</ul>
									<ul class="great-menu">
										<li><a href="#">Menu item 1</a></li>
										<li><a href="#">Menu item 2</a></li>
										<li><a href="#">Menu item 3</a></li>
										<li><a href="#">Menu item 4</a></li>
										<li><a href="#">Menu item 5</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#">Watches</a></li>
							<li><a href="#">Jewellery</a></li>
							<li><a href="#">shoes</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-3">
						<ul class="categories-menu">
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Clothing<i class="fas fa-angle-right"></i></a>

								<ul class="sub-menu">
									<li><a href="#">Menu item 1</a></li>
									<li><a href="#">Menu item 2</a></li>
									<li><a href="#">Menu item 3 <i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="#">Sub-menu item 1</a></li>
											<li><a href="#">Sub-menu item 2</a></li>
										</ul>
									</li>
									<li><a href="#">Menu item 4</a></li>
									<li><a href="#">Menu item 5</a></li>
								</ul>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Electronics<i class="fas fa-angle-right"></i></a>
								
								<div class="great-menu-wrap">
									<ul class="great-menu">
										<li><a href="#">Menu item 1</a></li>
										<li><a href="#">Menu item 2</a></li>
										<li><a href="#">Menu item 3</a></li>
										<li><a href="#">Menu item 4</a></li>
										<li><a href="#">Menu item 5</a></li>
									</ul>
									<ul class="great-menu">
										<li><a href="#">Menu item 1</a></li>
										<li><a href="#">Menu item 2</a></li>
										<li><a href="#">Menu item 3</a></li>
										<li><a href="#">Menu item 4</a></li>
										<li><a href="#">Menu item 5</a></li>
									</ul>
								</div>

							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Shoes</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Watches</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Jewellery</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Health and Beauty</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Kids and Babies</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Sports</a>
							</li>
							<li class="categories-items">
								<a href="#"><i class="far fa-play-circle"></i>Home and Garden</a>
							</li>
						</ul>
					</div>
					<div class="col-9">
						<div class="img-wrapper">
							<img src="img/Main Banner.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>