<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog final</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class=" header-body container">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <ul class="top-sub-menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Cooperation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="top-menu">
                <li><a href="#">Nature</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Trips</a></li>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Teach</a></li>
            </ul>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <section class="first-screen">
        <div class="container">
            <div class="first-screen-body">
                <div class="first-screen-content">
                    <img src="img/first-screen-img.png" alt="">
                    <h1>Maecenas quis lobortis nunc. Nullam sit vel odio congue vulputate a ut nisi.</h1>
                </div>
                <div class="first-screen-signature">
                    <div class="sub-title">People</div>
                    <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="big-box">
        <div class="big-box-body container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/big-box.png" alt=""></div>
                        <div class="sub-title">Teach</div>

                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/big-box-img2.png" alt=""></div>
                        <div class="sub-title">Teach</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="huge-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="huge-box-content">
                        <div class="huge-box-text">
                            <h2>Proin congue elit fringilla</h2>
                            <p>sodales tellus interdum fermentum nulla. Aliquam vitae arcu condimentum,
                                consectetur diam sed, ultrices urna. </p>
                        </div>
                        <div class="sub-title">trips</div>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="medium-box">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-1.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-2.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-3.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-4.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-5.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/box-6.png" alt=""></div>
                        <div class="sub-title">Nature</div>
                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="big-box">
        <div class="big-box-body container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/big-box.png" alt=""></div>
                        <div class="sub-title">trips</div>

                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="box-content">
                        <div class="img-wrap"><img src="img/big-box-img2.png" alt=""></div>
                        <div class="sub-title">trips</div>

                        <h3>Donec elementum dui semper, pretium dui quis, pretium nisl. Nunc quis ornare odio.</h3>
                        <div class="info"><p>14 septemvber 2016  |</p><a href="#">John Doe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newsletter">
        <div class="newsletter-body container">
            <div class="newsletter-text">
                <h1>Newsletter</h1>
                <p>Donec elementum dui semper, pretium dui quis, pretium nisl.</p>
            </div>
            <form action="#">
                <input type="text" class="text">
                <input type="submit" class="submit" value="Sign up">
            </form>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Try awsome tool for desgners symu.co</p>
        </div>
    </footer>
</body>
</html>